/* Skin tones */
$emoji-light-skin-tone: '\1f3fb';
$emoji-medium-light-skin-tone: '\1f3fc';
$emoji-medium-skin-tone: '\1f3fd';
$emoji-medium-dark-skin-tone: '\1f3fe';
$emoji-dark-skin-tone: '\1f3ff';

/* Emojis */
{{#items}}
$emoji-{{name}}: '\{{code}}';
{{/items}}
