.emoji-monkey-face:before { content: '\1f435'; }
.emoji-monkey:before { content: '\1f412'; }
.emoji-gorilla:before { content: '\1f98d'; }
.emoji-dog-face:before { content: '\1f436'; }
.emoji-dog:before { content: '\1f415'; }
.emoji-poodle:before { content: '\1f429'; }
.emoji-wolf-face:before { content: '\1f43a'; }
.emoji-fox-face:before { content: '\1f98a'; }
.emoji-cat-face:before { content: '\1f431'; }
.emoji-cat:before { content: '\1f408'; }
.emoji-lion-face:before { content: '\1f981'; }
.emoji-tiger-face:before { content: '\1f42f'; }
.emoji-tiger:before { content: '\1f405'; }
.emoji-leopard:before { content: '\1f406'; }
.emoji-horse-face:before { content: '\1f434'; }
.emoji-horse:before { content: '\1f40e'; }
.emoji-deer:before { content: '\1f98c'; }
.emoji-unicorn-face:before { content: '\1f984'; }
.emoji-cow-face:before { content: '\1f42e'; }
.emoji-ox:before { content: '\1f402'; }
.emoji-water-buffalo:before { content: '\1f403'; }
.emoji-cow:before { content: '\1f404'; }
.emoji-pig-face:before { content: '\1f437'; }
.emoji-pig:before { content: '\1f416'; }
.emoji-boar:before { content: '\1f417'; }
.emoji-pig-nose:before { content: '\1f43d'; }
.emoji-ram:before { content: '\1f40f'; }
.emoji-ewe:before { content: '\1f411'; }
.emoji-goat:before { content: '\1f410'; }
.emoji-camel:before { content: '\1f42a'; }
.emoji-two-hump-camel:before { content: '\1f42b'; }
.emoji-elephant:before { content: '\1f418'; }
.emoji-rhinoceros:before { content: '\1f98f'; }
.emoji-mouse-face:before { content: '\1f42d'; }
.emoji-mouse:before { content: '\1f401'; }
.emoji-rat:before { content: '\1f400'; }
.emoji-hamster-face:before { content: '\1f439'; }
.emoji-rabbit-face:before { content: '\1f430'; }
.emoji-rabbit:before { content: '\1f407'; }
.emoji-chipmunk:before { content: '\1f43f'; }
.emoji-bat:before { content: '\1f987'; }
.emoji-bear-face:before { content: '\1f43b'; }
.emoji-koala:before { content: '\1f428'; }
.emoji-panda-face:before { content: '\1f43c'; }
.emoji-paw-prints:before { content: '\1f43e'; }
