.emoji-spouting-whale:before { content: '\1f433'; }
.emoji-whale:before { content: '\1f40b'; }
.emoji-dolphin:before { content: '\1f42c'; }
.emoji-fish:before { content: '\1f41f'; }
.emoji-tropical-fish:before { content: '\1f420'; }
.emoji-blowfish:before { content: '\1f421'; }
.emoji-shark:before { content: '\1f988'; }
.emoji-octopus:before { content: '\1f419'; }
.emoji-spiral-shell:before { content: '\1f41a'; }
.emoji-crab:before { content: '\1f980'; }
.emoji-shrimp:before { content: '\1f990'; }
.emoji-squid:before { content: '\1f991'; }
