.emoji-crocodile:before { content: '\1f40a'; }
.emoji-turtle:before { content: '\1f422'; }
.emoji-lizard:before { content: '\1f98e'; }
.emoji-snake:before { content: '\1f40d'; }
.emoji-dragon-face:before { content: '\1f432'; }
.emoji-dragon:before { content: '\1f409'; }
.emoji-sauropod:before { content: '\1f995'; }
.emoji-t-rex:before { content: '\1f996'; }
