.emoji-turkey:before { content: '\1f983'; }
.emoji-chicken:before { content: '\1f414'; }
.emoji-rooster:before { content: '\1f413'; }
.emoji-hatching-chick:before { content: '\1f423'; }
.emoji-baby-chick:before { content: '\1f424'; }
.emoji-front-facing-baby-chick:before { content: '\1f425'; }
.emoji-bird:before { content: '\1f426'; }
.emoji-penguin:before { content: '\1f427'; }
.emoji-dove:before { content: '\1f54a'; }
.emoji-eagle:before { content: '\1f985'; }
.emoji-duck:before { content: '\1f986'; }
.emoji-owl:before { content: '\1f989'; }
