.emoji-seedling:before { content: '\1f331'; }
.emoji-evergreen-tree:before { content: '\1f332'; }
.emoji-deciduous-tree:before { content: '\1f333'; }
.emoji-palm-tree:before { content: '\1f334'; }
.emoji-cactus:before { content: '\1f335'; }
.emoji-sheaf-of-rice:before { content: '\1f33e'; }
.emoji-herb:before { content: '\1f33f'; }
.emoji-shamrock:before { content: '\2618'; }
.emoji-four-leaf-clover:before { content: '\1f340'; }
.emoji-maple-leaf:before { content: '\1f341'; }
.emoji-fallen-leaf:before { content: '\1f342'; }
.emoji-leaf-fluttering-in-wind:before { content: '\1f343'; }
