.emoji-bouquet:before { content: '\1f490'; }
.emoji-cherry-blossom:before { content: '\1f338'; }
.emoji-white-flower:before { content: '\1f4ae'; }
.emoji-rosette:before { content: '\1f3f5'; }
.emoji-rose:before { content: '\1f339'; }
.emoji-wilted-flower:before { content: '\1f940'; }
.emoji-hibiscus:before { content: '\1f33a'; }
.emoji-sunflower:before { content: '\1f33b'; }
.emoji-blossom:before { content: '\1f33c'; }
.emoji-tulip:before { content: '\1f337'; }
