.emoji-military-medal:before { content: '\1f396'; }
.emoji-trophy:before { content: '\1f3c6'; }
.emoji-sports-medal:before { content: '\1f3c5'; }
.emoji-1st-place-medal:before { content: '\1f947'; }
.emoji-2nd-place-medal:before { content: '\1f948'; }
.emoji-3rd-place-medal:before { content: '\1f949'; }
