.emoji-jack-o-lantern:before { content: '\1f383'; }
.emoji-christmas-tree:before { content: '\1f384'; }
.emoji-fireworks:before { content: '\1f386'; }
.emoji-sparkler:before { content: '\1f387'; }
.emoji-sparkles:before { content: '\2728'; }
.emoji-balloon:before { content: '\1f388'; }
.emoji-party-popper:before { content: '\1f389'; }
.emoji-confetti-ball:before { content: '\1f38a'; }
.emoji-tanabata-tree:before { content: '\1f38b'; }
.emoji-pine-decoration:before { content: '\1f38d'; }
.emoji-japanese-dolls:before { content: '\1f38e'; }
.emoji-carp-streamer:before { content: '\1f38f'; }
.emoji-wind-chime:before { content: '\1f390'; }
.emoji-moon-viewing-ceremony:before { content: '\1f391'; }
.emoji-ribbon:before { content: '\1f380'; }
.emoji-wrapped-gift:before { content: '\1f381'; }
.emoji-reminder-ribbon:before { content: '\1f397'; }
.emoji-admission-tickets:before { content: '\1f39f'; }
.emoji-ticket:before { content: '\1f3ab'; }
