.emoji-video-game:before { content: '\1f3ae'; }
.emoji-joystick:before { content: '\1f579'; }
.emoji-game-die:before { content: '\1f3b2'; }
.emoji-spade-suit:before { content: '\2660'; }
.emoji-heart-suit:before { content: '\2665'; }
.emoji-diamond-suit:before { content: '\2666'; }
.emoji-club-suit:before { content: '\2663'; }
.emoji-joker:before { content: '\1f0cf'; }
.emoji-mahjong-red-dragon:before { content: '\1f004'; }
.emoji-flower-playing-cards:before { content: '\1f3b4'; }
