.emoji-soccer-ball:before { content: '\26bd'; }
.emoji-baseball:before { content: '\26be'; }
.emoji-basketball:before { content: '\1f3c0'; }
.emoji-volleyball:before { content: '\1f3d0'; }
.emoji-american-football:before { content: '\1f3c8'; }
.emoji-rugby-football:before { content: '\1f3c9'; }
.emoji-tennis:before { content: '\1f3be'; }
.emoji-pool-8-ball:before { content: '\1f3b1'; }
.emoji-bowling:before { content: '\1f3b3'; }
.emoji-cricket:before { content: '\1f3cf'; }
.emoji-field-hockey:before { content: '\1f3d1'; }
.emoji-ice-hockey:before { content: '\1f3d2'; }
.emoji-ping-pong:before { content: '\1f3d3'; }
.emoji-badminton:before { content: '\1f3f8'; }
.emoji-boxing-glove:before { content: '\1f94a'; }
.emoji-martial-arts-uniform:before { content: '\1f94b'; }
.emoji-goal-net:before { content: '\1f945'; }
.emoji-direct-hit:before { content: '\1f3af'; }
.emoji-flag-in-hole:before { content: '\26f3'; }
.emoji-ice-skate:before { content: '\26f8'; }
.emoji-fishing-pole:before { content: '\1f3a3'; }
.emoji-running-shirt:before { content: '\1f3bd'; }
.emoji-skis:before { content: '\1f3bf'; }
