.emoji-flexed-biceps:before { content: '\1f4aa'; }
.emoji-flexed-biceps-light-skin-tone:before { content: '\1f4aa\1f3fb'; }
.emoji-flexed-biceps-medium-light-skin-tone:before { content: '\1f4aa\1f3fc'; }
.emoji-flexed-biceps-medium-skin-tone:before { content: '\1f4aa\1f3fd'; }
.emoji-flexed-biceps-medium-dark-skin-tone:before { content: '\1f4aa\1f3fe'; }
.emoji-flexed-biceps-dark-skin-tone:before { content: '\1f4aa\1f3ff'; }
.emoji-selfie:before { content: '\1f933'; }
.emoji-selfie-light-skin-tone:before { content: '\1f933\1f3fb'; }
.emoji-selfie-medium-light-skin-tone:before { content: '\1f933\1f3fc'; }
.emoji-selfie-medium-skin-tone:before { content: '\1f933\1f3fd'; }
.emoji-selfie-medium-dark-skin-tone:before { content: '\1f933\1f3fe'; }
.emoji-selfie-dark-skin-tone:before { content: '\1f933\1f3ff'; }
.emoji-backhand-index-pointing-left:before { content: '\1f448'; }
.emoji-backhand-index-pointing-left-light-skin-tone:before { content: '\1f448\1f3fb'; }
.emoji-backhand-index-pointing-left-medium-light-skin-tone:before { content: '\1f448\1f3fc'; }
.emoji-backhand-index-pointing-left-medium-skin-tone:before { content: '\1f448\1f3fd'; }
.emoji-backhand-index-pointing-left-medium-dark-skin-tone:before { content: '\1f448\1f3fe'; }
.emoji-backhand-index-pointing-left-dark-skin-tone:before { content: '\1f448\1f3ff'; }
.emoji-backhand-index-pointing-right:before { content: '\1f449'; }
.emoji-backhand-index-pointing-right-light-skin-tone:before { content: '\1f449\1f3fb'; }
.emoji-backhand-index-pointing-right-medium-light-skin-tone:before { content: '\1f449\1f3fc'; }
.emoji-backhand-index-pointing-right-medium-skin-tone:before { content: '\1f449\1f3fd'; }
.emoji-backhand-index-pointing-right-medium-dark-skin-tone:before { content: '\1f449\1f3fe'; }
.emoji-backhand-index-pointing-right-dark-skin-tone:before { content: '\1f449\1f3ff'; }
.emoji-index-pointing-up:before { content: '\261d'; }
.emoji-index-pointing-up-light-skin-tone:before { content: '\261d\1f3fb'; }
.emoji-index-pointing-up-medium-light-skin-tone:before { content: '\261d\1f3fc'; }
.emoji-index-pointing-up-medium-skin-tone:before { content: '\261d\1f3fd'; }
.emoji-index-pointing-up-medium-dark-skin-tone:before { content: '\261d\1f3fe'; }
.emoji-index-pointing-up-dark-skin-tone:before { content: '\261d\1f3ff'; }
.emoji-backhand-index-pointing-up:before { content: '\1f446'; }
.emoji-backhand-index-pointing-up-light-skin-tone:before { content: '\1f446\1f3fb'; }
.emoji-backhand-index-pointing-up-medium-light-skin-tone:before { content: '\1f446\1f3fc'; }
.emoji-backhand-index-pointing-up-medium-skin-tone:before { content: '\1f446\1f3fd'; }
.emoji-backhand-index-pointing-up-medium-dark-skin-tone:before { content: '\1f446\1f3fe'; }
.emoji-backhand-index-pointing-up-dark-skin-tone:before { content: '\1f446\1f3ff'; }
.emoji-middle-finger:before { content: '\1f595'; }
.emoji-middle-finger-light-skin-tone:before { content: '\1f595\1f3fb'; }
.emoji-middle-finger-medium-light-skin-tone:before { content: '\1f595\1f3fc'; }
.emoji-middle-finger-medium-skin-tone:before { content: '\1f595\1f3fd'; }
.emoji-middle-finger-medium-dark-skin-tone:before { content: '\1f595\1f3fe'; }
.emoji-middle-finger-dark-skin-tone:before { content: '\1f595\1f3ff'; }
.emoji-backhand-index-pointing-down:before { content: '\1f447'; }
.emoji-backhand-index-pointing-down-light-skin-tone:before { content: '\1f447\1f3fb'; }
.emoji-backhand-index-pointing-down-medium-light-skin-tone:before { content: '\1f447\1f3fc'; }
.emoji-backhand-index-pointing-down-medium-skin-tone:before { content: '\1f447\1f3fd'; }
.emoji-backhand-index-pointing-down-medium-dark-skin-tone:before { content: '\1f447\1f3fe'; }
.emoji-backhand-index-pointing-down-dark-skin-tone:before { content: '\1f447\1f3ff'; }
.emoji-victory-hand:before { content: '\270c'; }
.emoji-victory-hand-light-skin-tone:before { content: '\270c\1f3fb'; }
.emoji-victory-hand-medium-light-skin-tone:before { content: '\270c\1f3fc'; }
.emoji-victory-hand-medium-skin-tone:before { content: '\270c\1f3fd'; }
.emoji-victory-hand-medium-dark-skin-tone:before { content: '\270c\1f3fe'; }
.emoji-victory-hand-dark-skin-tone:before { content: '\270c\1f3ff'; }
.emoji-crossed-fingers:before { content: '\1f91e'; }
.emoji-crossed-fingers-light-skin-tone:before { content: '\1f91e\1f3fb'; }
.emoji-crossed-fingers-medium-light-skin-tone:before { content: '\1f91e\1f3fc'; }
.emoji-crossed-fingers-medium-skin-tone:before { content: '\1f91e\1f3fd'; }
.emoji-crossed-fingers-medium-dark-skin-tone:before { content: '\1f91e\1f3fe'; }
.emoji-crossed-fingers-dark-skin-tone:before { content: '\1f91e\1f3ff'; }
.emoji-vulcan-salute:before { content: '\1f596'; }
.emoji-vulcan-salute-light-skin-tone:before { content: '\1f596\1f3fb'; }
.emoji-vulcan-salute-medium-light-skin-tone:before { content: '\1f596\1f3fc'; }
.emoji-vulcan-salute-medium-skin-tone:before { content: '\1f596\1f3fd'; }
.emoji-vulcan-salute-medium-dark-skin-tone:before { content: '\1f596\1f3fe'; }
.emoji-vulcan-salute-dark-skin-tone:before { content: '\1f596\1f3ff'; }
.emoji-sign-of-the-horns:before { content: '\1f918'; }
.emoji-sign-of-the-horns-light-skin-tone:before { content: '\1f918\1f3fb'; }
.emoji-sign-of-the-horns-medium-light-skin-tone:before { content: '\1f918\1f3fc'; }
.emoji-sign-of-the-horns-medium-skin-tone:before { content: '\1f918\1f3fd'; }
.emoji-sign-of-the-horns-medium-dark-skin-tone:before { content: '\1f918\1f3fe'; }
.emoji-sign-of-the-horns-dark-skin-tone:before { content: '\1f918\1f3ff'; }
.emoji-call-me-hand:before { content: '\1f919'; }
.emoji-call-me-hand-light-skin-tone:before { content: '\1f919\1f3fb'; }
.emoji-call-me-hand-medium-light-skin-tone:before { content: '\1f919\1f3fc'; }
.emoji-call-me-hand-medium-skin-tone:before { content: '\1f919\1f3fd'; }
.emoji-call-me-hand-medium-dark-skin-tone:before { content: '\1f919\1f3fe'; }
.emoji-call-me-hand-dark-skin-tone:before { content: '\1f919\1f3ff'; }
.emoji-raised-hand-with-fingers-splayed:before { content: '\1f590'; }
.emoji-raised-hand-with-fingers-splayed-light-skin-tone:before { content: '\1f590\1f3fb'; }
.emoji-raised-hand-with-fingers-splayed-medium-light-skin-tone:before { content: '\1f590\1f3fc'; }
.emoji-raised-hand-with-fingers-splayed-medium-skin-tone:before { content: '\1f590\1f3fd'; }
.emoji-raised-hand-with-fingers-splayed-medium-dark-skin-tone:before { content: '\1f590\1f3fe'; }
.emoji-raised-hand-with-fingers-splayed-dark-skin-tone:before { content: '\1f590\1f3ff'; }
.emoji-raised-hand:before { content: '\270b'; }
.emoji-raised-hand-light-skin-tone:before { content: '\270b\1f3fb'; }
.emoji-raised-hand-medium-light-skin-tone:before { content: '\270b\1f3fc'; }
.emoji-raised-hand-medium-skin-tone:before { content: '\270b\1f3fd'; }
.emoji-raised-hand-medium-dark-skin-tone:before { content: '\270b\1f3fe'; }
.emoji-raised-hand-dark-skin-tone:before { content: '\270b\1f3ff'; }
.emoji-ok-hand:before { content: '\1f44c'; }
.emoji-ok-hand-light-skin-tone:before { content: '\1f44c\1f3fb'; }
.emoji-ok-hand-medium-light-skin-tone:before { content: '\1f44c\1f3fc'; }
.emoji-ok-hand-medium-skin-tone:before { content: '\1f44c\1f3fd'; }
.emoji-ok-hand-medium-dark-skin-tone:before { content: '\1f44c\1f3fe'; }
.emoji-ok-hand-dark-skin-tone:before { content: '\1f44c\1f3ff'; }
.emoji-thumbs-up:before { content: '\1f44d'; }
.emoji-thumbs-up-light-skin-tone:before { content: '\1f44d\1f3fb'; }
.emoji-thumbs-up-medium-light-skin-tone:before { content: '\1f44d\1f3fc'; }
.emoji-thumbs-up-medium-skin-tone:before { content: '\1f44d\1f3fd'; }
.emoji-thumbs-up-medium-dark-skin-tone:before { content: '\1f44d\1f3fe'; }
.emoji-thumbs-up-dark-skin-tone:before { content: '\1f44d\1f3ff'; }
.emoji-thumbs-down:before { content: '\1f44e'; }
.emoji-thumbs-down-light-skin-tone:before { content: '\1f44e\1f3fb'; }
.emoji-thumbs-down-medium-light-skin-tone:before { content: '\1f44e\1f3fc'; }
.emoji-thumbs-down-medium-skin-tone:before { content: '\1f44e\1f3fd'; }
.emoji-thumbs-down-medium-dark-skin-tone:before { content: '\1f44e\1f3fe'; }
.emoji-thumbs-down-dark-skin-tone:before { content: '\1f44e\1f3ff'; }
.emoji-raised-fist:before { content: '\270a'; }
.emoji-raised-fist-light-skin-tone:before { content: '\270a\1f3fb'; }
.emoji-raised-fist-medium-light-skin-tone:before { content: '\270a\1f3fc'; }
.emoji-raised-fist-medium-skin-tone:before { content: '\270a\1f3fd'; }
.emoji-raised-fist-medium-dark-skin-tone:before { content: '\270a\1f3fe'; }
.emoji-raised-fist-dark-skin-tone:before { content: '\270a\1f3ff'; }
.emoji-oncoming-fist:before { content: '\1f44a'; }
.emoji-oncoming-fist-light-skin-tone:before { content: '\1f44a\1f3fb'; }
.emoji-oncoming-fist-medium-light-skin-tone:before { content: '\1f44a\1f3fc'; }
.emoji-oncoming-fist-medium-skin-tone:before { content: '\1f44a\1f3fd'; }
.emoji-oncoming-fist-medium-dark-skin-tone:before { content: '\1f44a\1f3fe'; }
.emoji-oncoming-fist-dark-skin-tone:before { content: '\1f44a\1f3ff'; }
.emoji-left-facing-fist:before { content: '\1f91b'; }
.emoji-left-facing-fist-light-skin-tone:before { content: '\1f91b\1f3fb'; }
.emoji-left-facing-fist-medium-light-skin-tone:before { content: '\1f91b\1f3fc'; }
.emoji-left-facing-fist-medium-skin-tone:before { content: '\1f91b\1f3fd'; }
.emoji-left-facing-fist-medium-dark-skin-tone:before { content: '\1f91b\1f3fe'; }
.emoji-left-facing-fist-dark-skin-tone:before { content: '\1f91b\1f3ff'; }
.emoji-right-facing-fist:before { content: '\1f91c'; }
.emoji-right-facing-fist-light-skin-tone:before { content: '\1f91c\1f3fb'; }
.emoji-right-facing-fist-medium-light-skin-tone:before { content: '\1f91c\1f3fc'; }
.emoji-right-facing-fist-medium-skin-tone:before { content: '\1f91c\1f3fd'; }
.emoji-right-facing-fist-medium-dark-skin-tone:before { content: '\1f91c\1f3fe'; }
.emoji-right-facing-fist-dark-skin-tone:before { content: '\1f91c\1f3ff'; }
.emoji-raised-back-of-hand:before { content: '\1f91a'; }
.emoji-raised-back-of-hand-light-skin-tone:before { content: '\1f91a\1f3fb'; }
.emoji-raised-back-of-hand-medium-light-skin-tone:before { content: '\1f91a\1f3fc'; }
.emoji-raised-back-of-hand-medium-skin-tone:before { content: '\1f91a\1f3fd'; }
.emoji-raised-back-of-hand-medium-dark-skin-tone:before { content: '\1f91a\1f3fe'; }
.emoji-raised-back-of-hand-dark-skin-tone:before { content: '\1f91a\1f3ff'; }
.emoji-waving-hand:before { content: '\1f44b'; }
.emoji-waving-hand-light-skin-tone:before { content: '\1f44b\1f3fb'; }
.emoji-waving-hand-medium-light-skin-tone:before { content: '\1f44b\1f3fc'; }
.emoji-waving-hand-medium-skin-tone:before { content: '\1f44b\1f3fd'; }
.emoji-waving-hand-medium-dark-skin-tone:before { content: '\1f44b\1f3fe'; }
.emoji-waving-hand-dark-skin-tone:before { content: '\1f44b\1f3ff'; }
.emoji-clapping-hands:before { content: '\1f44f'; }
.emoji-clapping-hands-light-skin-tone:before { content: '\1f44f\1f3fb'; }
.emoji-clapping-hands-medium-light-skin-tone:before { content: '\1f44f\1f3fc'; }
.emoji-clapping-hands-medium-skin-tone:before { content: '\1f44f\1f3fd'; }
.emoji-clapping-hands-medium-dark-skin-tone:before { content: '\1f44f\1f3fe'; }
.emoji-clapping-hands-dark-skin-tone:before { content: '\1f44f\1f3ff'; }
.emoji-writing-hand:before { content: '\270d'; }
.emoji-writing-hand-light-skin-tone:before { content: '\270d\1f3fb'; }
.emoji-writing-hand-medium-light-skin-tone:before { content: '\270d\1f3fc'; }
.emoji-writing-hand-medium-skin-tone:before { content: '\270d\1f3fd'; }
.emoji-writing-hand-medium-dark-skin-tone:before { content: '\270d\1f3fe'; }
.emoji-writing-hand-dark-skin-tone:before { content: '\270d\1f3ff'; }
.emoji-open-hands:before { content: '\1f450'; }
.emoji-open-hands-light-skin-tone:before { content: '\1f450\1f3fb'; }
.emoji-open-hands-medium-light-skin-tone:before { content: '\1f450\1f3fc'; }
.emoji-open-hands-medium-skin-tone:before { content: '\1f450\1f3fd'; }
.emoji-open-hands-medium-dark-skin-tone:before { content: '\1f450\1f3fe'; }
.emoji-open-hands-dark-skin-tone:before { content: '\1f450\1f3ff'; }
.emoji-raising-hands:before { content: '\1f64c'; }
.emoji-raising-hands-light-skin-tone:before { content: '\1f64c\1f3fb'; }
.emoji-raising-hands-medium-light-skin-tone:before { content: '\1f64c\1f3fc'; }
.emoji-raising-hands-medium-skin-tone:before { content: '\1f64c\1f3fd'; }
.emoji-raising-hands-medium-dark-skin-tone:before { content: '\1f64c\1f3fe'; }
.emoji-raising-hands-dark-skin-tone:before { content: '\1f64c\1f3ff'; }
.emoji-folded-hands:before { content: '\1f64f'; }
.emoji-folded-hands-light-skin-tone:before { content: '\1f64f\1f3fb'; }
.emoji-folded-hands-medium-light-skin-tone:before { content: '\1f64f\1f3fc'; }
.emoji-folded-hands-medium-skin-tone:before { content: '\1f64f\1f3fd'; }
.emoji-folded-hands-medium-dark-skin-tone:before { content: '\1f64f\1f3fe'; }
.emoji-folded-hands-dark-skin-tone:before { content: '\1f64f\1f3ff'; }
.emoji-handshake:before { content: '\1f91d'; }
.emoji-nail-polish:before { content: '\1f485'; }
.emoji-nail-polish-light-skin-tone:before { content: '\1f485\1f3fb'; }
.emoji-nail-polish-medium-light-skin-tone:before { content: '\1f485\1f3fc'; }
.emoji-nail-polish-medium-skin-tone:before { content: '\1f485\1f3fd'; }
.emoji-nail-polish-medium-dark-skin-tone:before { content: '\1f485\1f3fe'; }
.emoji-nail-polish-dark-skin-tone:before { content: '\1f485\1f3ff'; }
.emoji-ear:before { content: '\1f442'; }
.emoji-ear-light-skin-tone:before { content: '\1f442\1f3fb'; }
.emoji-ear-medium-light-skin-tone:before { content: '\1f442\1f3fc'; }
.emoji-ear-medium-skin-tone:before { content: '\1f442\1f3fd'; }
.emoji-ear-medium-dark-skin-tone:before { content: '\1f442\1f3fe'; }
.emoji-ear-dark-skin-tone:before { content: '\1f442\1f3ff'; }
.emoji-nose:before { content: '\1f443'; }
.emoji-nose-light-skin-tone:before { content: '\1f443\1f3fb'; }
.emoji-nose-medium-light-skin-tone:before { content: '\1f443\1f3fc'; }
.emoji-nose-medium-skin-tone:before { content: '\1f443\1f3fd'; }
.emoji-nose-medium-dark-skin-tone:before { content: '\1f443\1f3fe'; }
.emoji-nose-dark-skin-tone:before { content: '\1f443\1f3ff'; }
.emoji-footprints:before { content: '\1f463'; }
.emoji-eyes:before { content: '\1f440'; }
.emoji-eye:before { content: '\1f441'; }
.emoji-eye-in-speech-bubble:before { content: '\1f441\fe0f\200d\1f5e8\fe0f'; }
.emoji-tongue:before { content: '\1f445'; }
.emoji-mouth:before { content: '\1f444'; }
