.emoji-grinning-cat-face:before { content: '\1f63a'; }
.emoji-grinning-cat-face-with-smiling-eyes:before { content: '\1f638'; }
.emoji-cat-face-with-tears-of-joy:before { content: '\1f639'; }
.emoji-smiling-cat-face-with-heart-eyes:before { content: '\1f63b'; }
.emoji-cat-face-with-wry-smile:before { content: '\1f63c'; }
.emoji-kissing-cat-face:before { content: '\1f63d'; }
.emoji-weary-cat-face:before { content: '\1f640'; }
.emoji-crying-cat-face:before { content: '\1f63f'; }
.emoji-pouting-cat-face:before { content: '\1f63e'; }
