.emoji-glasses:before { content: '\1f453'; }
.emoji-sunglasses:before { content: '\1f576'; }
.emoji-necktie:before { content: '\1f454'; }
.emoji-t-shirt:before { content: '\1f455'; }
.emoji-jeans:before { content: '\1f456'; }
.emoji-scarf:before { content: '\1f9e3'; }
.emoji-gloves:before { content: '\1f9e4'; }
.emoji-coat:before { content: '\1f9e5'; }
.emoji-socks:before { content: '\1f9e6'; }
.emoji-dress:before { content: '\1f457'; }
.emoji-kimono:before { content: '\1f458'; }
.emoji-bikini:before { content: '\1f459'; }
.emoji-womans-clothes:before { content: '\1f45a'; }
.emoji-purse:before { content: '\1f45b'; }
.emoji-handbag:before { content: '\1f45c'; }
.emoji-clutch-bag:before { content: '\1f45d'; }
.emoji-shopping-bags:before { content: '\1f6cd'; }
.emoji-school-backpack:before { content: '\1f392'; }
.emoji-mans-shoe:before { content: '\1f45e'; }
.emoji-running-shoe:before { content: '\1f45f'; }
.emoji-high-heeled-shoe:before { content: '\1f460'; }
.emoji-womans-sandal:before { content: '\1f461'; }
.emoji-womans-boot:before { content: '\1f462'; }
.emoji-crown:before { content: '\1f451'; }
.emoji-womans-hat:before { content: '\1f452'; }
.emoji-top-hat:before { content: '\1f3a9'; }
.emoji-graduation-cap:before { content: '\1f393'; }
.emoji-billed-cap:before { content: '\1f9e2'; }
.emoji-rescue-workers-helmet:before { content: '\26d1'; }
.emoji-prayer-beads:before { content: '\1f4ff'; }
.emoji-lipstick:before { content: '\1f484'; }
.emoji-ring:before { content: '\1f48d'; }
.emoji-gem-stone:before { content: '\1f48e'; }
