.emoji-kiss-mark:before { content: '\1f48b'; }
.emoji-heart-with-arrow:before { content: '\1f498'; }
.emoji-red-heart:before { content: '\2764'; }
.emoji-beating-heart:before { content: '\1f493'; }
.emoji-broken-heart:before { content: '\1f494'; }
.emoji-two-hearts:before { content: '\1f495'; }
.emoji-sparkling-heart:before { content: '\1f496'; }
.emoji-growing-heart:before { content: '\1f497'; }
.emoji-blue-heart:before { content: '\1f499'; }
.emoji-green-heart:before { content: '\1f49a'; }
.emoji-yellow-heart:before { content: '\1f49b'; }
.emoji-orange-heart:before { content: '\1f9e1'; }
.emoji-purple-heart:before { content: '\1f49c'; }
.emoji-black-heart:before { content: '\1f5a4'; }
.emoji-heart-with-ribbon:before { content: '\1f49d'; }
.emoji-revolving-hearts:before { content: '\1f49e'; }
.emoji-heart-decoration:before { content: '\1f49f'; }
.emoji-heavy-heart-exclamation:before { content: '\2763'; }
.emoji-love-letter:before { content: '\1f48c'; }
.emoji-zzz:before { content: '\1f4a4'; }
.emoji-anger-symbol:before { content: '\1f4a2'; }
.emoji-bomb:before { content: '\1f4a3'; }
.emoji-collision:before { content: '\1f4a5'; }
.emoji-sweat-droplets:before { content: '\1f4a6'; }
.emoji-dashing-away:before { content: '\1f4a8'; }
.emoji-dizzy:before { content: '\1f4ab'; }
.emoji-speech-balloon:before { content: '\1f4ac'; }
.emoji-left-speech-bubble:before { content: '\1f5e8'; }
.emoji-right-anger-bubble:before { content: '\1f5ef'; }
.emoji-thought-balloon:before { content: '\1f4ad'; }
.emoji-hole:before { content: '\1f573'; }
