.emoji-thinking-face:before { content: '\1f914'; }
.emoji-neutral-face:before { content: '\1f610'; }
.emoji-expressionless-face:before { content: '\1f611'; }
.emoji-face-without-mouth:before { content: '\1f636'; }
.emoji-face-with-rolling-eyes:before { content: '\1f644'; }
.emoji-smirking-face:before { content: '\1f60f'; }
.emoji-persevering-face:before { content: '\1f623'; }
.emoji-disappointed-but-relieved-face:before { content: '\1f625'; }
.emoji-face-with-open-mouth:before { content: '\1f62e'; }
.emoji-zipper-mouth-face:before { content: '\1f910'; }
.emoji-hushed-face:before { content: '\1f62f'; }
.emoji-sleepy-face:before { content: '\1f62a'; }
.emoji-tired-face:before { content: '\1f62b'; }
.emoji-sleeping-face:before { content: '\1f634'; }
.emoji-relieved-face:before { content: '\1f60c'; }
.emoji-nerd-face:before { content: '\1f913'; }
.emoji-face-with-stuck-out-tongue:before { content: '\1f61b'; }
.emoji-face-with-stuck-out-tongue-winking-eye:before { content: '\1f61c'; }
.emoji-face-with-stuck-out-tongue-closed-eyes:before { content: '\1f61d'; }
.emoji-drooling-face:before { content: '\1f924'; }
.emoji-unamused-face:before { content: '\1f612'; }
.emoji-face-with-cold-sweat:before { content: '\1f613'; }
.emoji-pensive-face:before { content: '\1f614'; }
.emoji-confused-face:before { content: '\1f615'; }
.emoji-upside-down-face:before { content: '\1f643'; }
.emoji-money-mouth-face:before { content: '\1f911'; }
.emoji-astonished-face:before { content: '\1f632'; }
