.emoji-grinning-face:before { content: '\1f600'; }
.emoji-beaming-face-with-smiling-eyes:before { content: '\1f601'; }
.emoji-face-with-tears-of-joy:before { content: '\1f602'; }
.emoji-rolling-on-the-floor-laughing:before { content: '\1f923'; }
.emoji-grinning-face-with-big-eyes:before { content: '\1f603'; }
.emoji-grinning-face-with-smiling-eyes:before { content: '\1f604'; }
.emoji-grinning-face-with-sweat:before { content: '\1f605'; }
.emoji-grinning-squinting-face:before { content: '\1f606'; }
.emoji-winking-face:before { content: '\1f609'; }
.emoji-smiling-face-with-smiling-eyes:before { content: '\1f60a'; }
.emoji-face-savoring-food:before { content: '\1f60b'; }
.emoji-smiling-face-with-sunglasses:before { content: '\1f60e'; }
.emoji-smiling-face-with-heart-eyes:before { content: '\1f60d'; }
.emoji-face-blowing-a-kiss:before { content: '\1f618'; }
.emoji-kissing-face:before { content: '\1f617'; }
.emoji-kissing-face-with-smiling-eyes:before { content: '\1f619'; }
.emoji-kissing-face-with-closed-eyes:before { content: '\1f61a'; }
.emoji-smiling-face:before { content: '\263a'; }
.emoji-slightly-smiling-face:before { content: '\1f642'; }
.emoji-hugging-face:before { content: '\1f917'; }
.emoji-star-struck:before { content: '\1f929'; }
