.emoji-face-with-medical-mask:before { content: '\1f637'; }
.emoji-face-with-thermometer:before { content: '\1f912'; }
.emoji-face-with-head-bandage:before { content: '\1f915'; }
.emoji-nauseated-face:before { content: '\1f922'; }
.emoji-sneezing-face:before { content: '\1f927'; }
