.emoji-smiling-face-with-halo:before { content: '\1f607'; }
.emoji-cowboy-hat-face:before { content: '\1f920'; }
.emoji-clown-face:before { content: '\1f921'; }
.emoji-lying-face:before { content: '\1f925'; }
