.emoji-smiling-face-with-horns:before { content: '\1f608'; }
.emoji-angry-face-with-horns:before { content: '\1f47f'; }
.emoji-ogre:before { content: '\1f479'; }
.emoji-goblin:before { content: '\1f47a'; }
.emoji-skull:before { content: '\1f480'; }
.emoji-skull-and-crossbones:before { content: '\2620'; }
.emoji-ghost:before { content: '\1f47b'; }
.emoji-alien:before { content: '\1f47d'; }
.emoji-alien-monster:before { content: '\1f47e'; }
.emoji-robot-face:before { content: '\1f916'; }
.emoji-pile-of-poo:before { content: '\1f4a9'; }
