.emoji-frowning-face:before { content: '\2639'; }
.emoji-slightly-frowning-face:before { content: '\1f641'; }
.emoji-confounded-face:before { content: '\1f616'; }
.emoji-disappointed-face:before { content: '\1f61e'; }
.emoji-worried-face:before { content: '\1f61f'; }
.emoji-face-with-steam-from-nose:before { content: '\1f624'; }
.emoji-crying-face:before { content: '\1f622'; }
.emoji-loudly-crying-face:before { content: '\1f62d'; }
.emoji-frowning-face-with-open-mouth:before { content: '\1f626'; }
.emoji-anguished-face:before { content: '\1f627'; }
.emoji-fearful-face:before { content: '\1f628'; }
.emoji-weary-face:before { content: '\1f629'; }
.emoji-exploding-head:before { content: '\1f92f'; }
.emoji-grimacing-face:before { content: '\1f62c'; }
.emoji-anxious-face-with-sweat:before { content: '\1f630'; }
.emoji-face-screaming-in-fear:before { content: '\1f631'; }
.emoji-flushed-face:before { content: '\1f633'; }
.emoji-crazy-face:before { content: '\1f92a'; }
.emoji-dizzy-face:before { content: '\1f635'; }
.emoji-pouting-face:before { content: '\1f621'; }
.emoji-angry-face:before { content: '\1f620'; }
.emoji-face-with-symbols-on-mouth:before { content: '\1f92c'; }
