.emoji-man-and-woman-holding-hands:before { content: '\1f46b'; }
.emoji-two-men-holding-hands:before { content: '\1f46c'; }
.emoji-two-women-holding-hands:before { content: '\1f46d'; }
.emoji-kiss:before { content: '\1f48f'; }
.emoji-kiss-woman-man:before { content: '\1f469\200d\2764\fe0f\200d\1f48b\200d\1f468'; }
.emoji-kiss-man-man:before { content: '\1f468\200d\2764\fe0f\200d\1f48b\200d\1f468'; }
.emoji-kiss-woman-woman:before { content: '\1f469\200d\2764\fe0f\200d\1f48b\200d\1f469'; }
.emoji-couple-with-heart:before { content: '\1f491'; }
.emoji-couple-with-heart-woman-man:before { content: '\1f469\200d\2764\fe0f\200d\1f468'; }
.emoji-couple-with-heart-man-man:before { content: '\1f468\200d\2764\fe0f\200d\1f468'; }
.emoji-couple-with-heart-woman-woman:before { content: '\1f469\200d\2764\fe0f\200d\1f469'; }
.emoji-family:before { content: '\1f46a'; }
.emoji-family-man-woman-boy:before { content: '\1f468\200d\1f469\200d\1f466'; }
.emoji-family-man-woman-girl:before { content: '\1f468\200d\1f469\200d\1f467'; }
.emoji-family-man-woman-girl-boy:before { content: '\1f468\200d\1f469\200d\1f467\200d\1f466'; }
.emoji-family-man-woman-boy-boy:before { content: '\1f468\200d\1f469\200d\1f466\200d\1f466'; }
.emoji-family-man-woman-girl-girl:before { content: '\1f468\200d\1f469\200d\1f467\200d\1f467'; }
.emoji-family-man-man-boy:before { content: '\1f468\200d\1f468\200d\1f466'; }
.emoji-family-man-man-girl:before { content: '\1f468\200d\1f468\200d\1f467'; }
.emoji-family-man-man-girl-boy:before { content: '\1f468\200d\1f468\200d\1f467\200d\1f466'; }
.emoji-family-man-man-boy-boy:before { content: '\1f468\200d\1f468\200d\1f466\200d\1f466'; }
.emoji-family-man-man-girl-girl:before { content: '\1f468\200d\1f468\200d\1f467\200d\1f467'; }
.emoji-family-woman-woman-boy:before { content: '\1f469\200d\1f469\200d\1f466'; }
.emoji-family-woman-woman-girl:before { content: '\1f469\200d\1f469\200d\1f467'; }
.emoji-family-woman-woman-girl-boy:before { content: '\1f469\200d\1f469\200d\1f467\200d\1f466'; }
.emoji-family-woman-woman-boy-boy:before { content: '\1f469\200d\1f469\200d\1f466\200d\1f466'; }
.emoji-family-woman-woman-girl-girl:before { content: '\1f469\200d\1f469\200d\1f467\200d\1f467'; }
.emoji-family-man-boy:before { content: '\1f468\200d\1f466'; }
.emoji-family-man-boy-boy:before { content: '\1f468\200d\1f466\200d\1f466'; }
.emoji-family-man-girl:before { content: '\1f468\200d\1f467'; }
.emoji-family-man-girl-boy:before { content: '\1f468\200d\1f467\200d\1f466'; }
.emoji-family-man-girl-girl:before { content: '\1f468\200d\1f467\200d\1f467'; }
.emoji-family-woman-boy:before { content: '\1f469\200d\1f466'; }
.emoji-family-woman-boy-boy:before { content: '\1f469\200d\1f466\200d\1f466'; }
.emoji-family-woman-girl:before { content: '\1f469\200d\1f467'; }
.emoji-family-woman-girl-boy:before { content: '\1f469\200d\1f467\200d\1f466'; }
.emoji-family-woman-girl-girl:before { content: '\1f469\200d\1f467\200d\1f467'; }
