.emoji-person-frowning:before { content: '\1f64d'; }
.emoji-person-frowning-light-skin-tone:before { content: '\1f64d\1f3fb'; }
.emoji-person-frowning-medium-light-skin-tone:before { content: '\1f64d\1f3fc'; }
.emoji-person-frowning-medium-skin-tone:before { content: '\1f64d\1f3fd'; }
.emoji-person-frowning-medium-dark-skin-tone:before { content: '\1f64d\1f3fe'; }
.emoji-person-frowning-dark-skin-tone:before { content: '\1f64d\1f3ff'; }
.emoji-man-frowning:before { content: '\1f64d\200d\2642\fe0f'; }
.emoji-man-frowning-light-skin-tone:before { content: '\1f64d\1f3fb\200d\2642\fe0f'; }
.emoji-man-frowning-medium-light-skin-tone:before { content: '\1f64d\1f3fc\200d\2642\fe0f'; }
.emoji-man-frowning-medium-skin-tone:before { content: '\1f64d\1f3fd\200d\2642\fe0f'; }
.emoji-man-frowning-medium-dark-skin-tone:before { content: '\1f64d\1f3fe\200d\2642\fe0f'; }
.emoji-man-frowning-dark-skin-tone:before { content: '\1f64d\1f3ff\200d\2642\fe0f'; }
.emoji-woman-frowning:before { content: '\1f64d\200d\2640\fe0f'; }
.emoji-woman-frowning-light-skin-tone:before { content: '\1f64d\1f3fb\200d\2640\fe0f'; }
.emoji-woman-frowning-medium-light-skin-tone:before { content: '\1f64d\1f3fc\200d\2640\fe0f'; }
.emoji-woman-frowning-medium-skin-tone:before { content: '\1f64d\1f3fd\200d\2640\fe0f'; }
.emoji-woman-frowning-medium-dark-skin-tone:before { content: '\1f64d\1f3fe\200d\2640\fe0f'; }
.emoji-woman-frowning-dark-skin-tone:before { content: '\1f64d\1f3ff\200d\2640\fe0f'; }
.emoji-person-pouting:before { content: '\1f64e'; }
.emoji-person-pouting-light-skin-tone:before { content: '\1f64e\1f3fb'; }
.emoji-person-pouting-medium-light-skin-tone:before { content: '\1f64e\1f3fc'; }
.emoji-person-pouting-medium-skin-tone:before { content: '\1f64e\1f3fd'; }
.emoji-person-pouting-medium-dark-skin-tone:before { content: '\1f64e\1f3fe'; }
.emoji-person-pouting-dark-skin-tone:before { content: '\1f64e\1f3ff'; }
.emoji-man-pouting:before { content: '\1f64e\200d\2642\fe0f'; }
.emoji-man-pouting-light-skin-tone:before { content: '\1f64e\1f3fb\200d\2642\fe0f'; }
.emoji-man-pouting-medium-light-skin-tone:before { content: '\1f64e\1f3fc\200d\2642\fe0f'; }
.emoji-man-pouting-medium-skin-tone:before { content: '\1f64e\1f3fd\200d\2642\fe0f'; }
.emoji-man-pouting-medium-dark-skin-tone:before { content: '\1f64e\1f3fe\200d\2642\fe0f'; }
.emoji-man-pouting-dark-skin-tone:before { content: '\1f64e\1f3ff\200d\2642\fe0f'; }
.emoji-woman-pouting:before { content: '\1f64e\200d\2640\fe0f'; }
.emoji-woman-pouting-light-skin-tone:before { content: '\1f64e\1f3fb\200d\2640\fe0f'; }
.emoji-woman-pouting-medium-light-skin-tone:before { content: '\1f64e\1f3fc\200d\2640\fe0f'; }
.emoji-woman-pouting-medium-skin-tone:before { content: '\1f64e\1f3fd\200d\2640\fe0f'; }
.emoji-woman-pouting-medium-dark-skin-tone:before { content: '\1f64e\1f3fe\200d\2640\fe0f'; }
.emoji-woman-pouting-dark-skin-tone:before { content: '\1f64e\1f3ff\200d\2640\fe0f'; }
.emoji-person-gesturing-no:before { content: '\1f645'; }
.emoji-person-gesturing-no-light-skin-tone:before { content: '\1f645\1f3fb'; }
.emoji-person-gesturing-no-medium-light-skin-tone:before { content: '\1f645\1f3fc'; }
.emoji-person-gesturing-no-medium-skin-tone:before { content: '\1f645\1f3fd'; }
.emoji-person-gesturing-no-medium-dark-skin-tone:before { content: '\1f645\1f3fe'; }
.emoji-person-gesturing-no-dark-skin-tone:before { content: '\1f645\1f3ff'; }
.emoji-man-gesturing-no:before { content: '\1f645\200d\2642\fe0f'; }
.emoji-man-gesturing-no-light-skin-tone:before { content: '\1f645\1f3fb\200d\2642\fe0f'; }
.emoji-man-gesturing-no-medium-light-skin-tone:before { content: '\1f645\1f3fc\200d\2642\fe0f'; }
.emoji-man-gesturing-no-medium-skin-tone:before { content: '\1f645\1f3fd\200d\2642\fe0f'; }
.emoji-man-gesturing-no-medium-dark-skin-tone:before { content: '\1f645\1f3fe\200d\2642\fe0f'; }
.emoji-man-gesturing-no-dark-skin-tone:before { content: '\1f645\1f3ff\200d\2642\fe0f'; }
.emoji-woman-gesturing-no:before { content: '\1f645\200d\2640\fe0f'; }
.emoji-woman-gesturing-no-light-skin-tone:before { content: '\1f645\1f3fb\200d\2640\fe0f'; }
.emoji-woman-gesturing-no-medium-light-skin-tone:before { content: '\1f645\1f3fc\200d\2640\fe0f'; }
.emoji-woman-gesturing-no-medium-skin-tone:before { content: '\1f645\1f3fd\200d\2640\fe0f'; }
.emoji-woman-gesturing-no-medium-dark-skin-tone:before { content: '\1f645\1f3fe\200d\2640\fe0f'; }
.emoji-woman-gesturing-no-dark-skin-tone:before { content: '\1f645\1f3ff\200d\2640\fe0f'; }
.emoji-person-gesturing-ok:before { content: '\1f646'; }
.emoji-person-gesturing-ok-light-skin-tone:before { content: '\1f646\1f3fb'; }
.emoji-person-gesturing-ok-medium-light-skin-tone:before { content: '\1f646\1f3fc'; }
.emoji-person-gesturing-ok-medium-skin-tone:before { content: '\1f646\1f3fd'; }
.emoji-person-gesturing-ok-medium-dark-skin-tone:before { content: '\1f646\1f3fe'; }
.emoji-person-gesturing-ok-dark-skin-tone:before { content: '\1f646\1f3ff'; }
.emoji-man-gesturing-ok:before { content: '\1f646\200d\2642\fe0f'; }
.emoji-man-gesturing-ok-light-skin-tone:before { content: '\1f646\1f3fb\200d\2642\fe0f'; }
.emoji-man-gesturing-ok-medium-light-skin-tone:before { content: '\1f646\1f3fc\200d\2642\fe0f'; }
.emoji-man-gesturing-ok-medium-skin-tone:before { content: '\1f646\1f3fd\200d\2642\fe0f'; }
.emoji-man-gesturing-ok-medium-dark-skin-tone:before { content: '\1f646\1f3fe\200d\2642\fe0f'; }
.emoji-man-gesturing-ok-dark-skin-tone:before { content: '\1f646\1f3ff\200d\2642\fe0f'; }
.emoji-woman-gesturing-ok:before { content: '\1f646\200d\2640\fe0f'; }
.emoji-woman-gesturing-ok-light-skin-tone:before { content: '\1f646\1f3fb\200d\2640\fe0f'; }
.emoji-woman-gesturing-ok-medium-light-skin-tone:before { content: '\1f646\1f3fc\200d\2640\fe0f'; }
.emoji-woman-gesturing-ok-medium-skin-tone:before { content: '\1f646\1f3fd\200d\2640\fe0f'; }
.emoji-woman-gesturing-ok-medium-dark-skin-tone:before { content: '\1f646\1f3fe\200d\2640\fe0f'; }
.emoji-woman-gesturing-ok-dark-skin-tone:before { content: '\1f646\1f3ff\200d\2640\fe0f'; }
.emoji-person-tipping-hand:before { content: '\1f481'; }
.emoji-person-tipping-hand-light-skin-tone:before { content: '\1f481\1f3fb'; }
.emoji-person-tipping-hand-medium-light-skin-tone:before { content: '\1f481\1f3fc'; }
.emoji-person-tipping-hand-medium-skin-tone:before { content: '\1f481\1f3fd'; }
.emoji-person-tipping-hand-medium-dark-skin-tone:before { content: '\1f481\1f3fe'; }
.emoji-person-tipping-hand-dark-skin-tone:before { content: '\1f481\1f3ff'; }
.emoji-man-tipping-hand:before { content: '\1f481\200d\2642\fe0f'; }
.emoji-man-tipping-hand-light-skin-tone:before { content: '\1f481\1f3fb\200d\2642\fe0f'; }
.emoji-man-tipping-hand-medium-light-skin-tone:before { content: '\1f481\1f3fc\200d\2642\fe0f'; }
.emoji-man-tipping-hand-medium-skin-tone:before { content: '\1f481\1f3fd\200d\2642\fe0f'; }
.emoji-man-tipping-hand-medium-dark-skin-tone:before { content: '\1f481\1f3fe\200d\2642\fe0f'; }
.emoji-man-tipping-hand-dark-skin-tone:before { content: '\1f481\1f3ff\200d\2642\fe0f'; }
.emoji-woman-tipping-hand:before { content: '\1f481\200d\2640\fe0f'; }
.emoji-woman-tipping-hand-light-skin-tone:before { content: '\1f481\1f3fb\200d\2640\fe0f'; }
.emoji-woman-tipping-hand-medium-light-skin-tone:before { content: '\1f481\1f3fc\200d\2640\fe0f'; }
.emoji-woman-tipping-hand-medium-skin-tone:before { content: '\1f481\1f3fd\200d\2640\fe0f'; }
.emoji-woman-tipping-hand-medium-dark-skin-tone:before { content: '\1f481\1f3fe\200d\2640\fe0f'; }
.emoji-woman-tipping-hand-dark-skin-tone:before { content: '\1f481\1f3ff\200d\2640\fe0f'; }
.emoji-person-raising-hand:before { content: '\1f64b'; }
.emoji-person-raising-hand-light-skin-tone:before { content: '\1f64b\1f3fb'; }
.emoji-person-raising-hand-medium-light-skin-tone:before { content: '\1f64b\1f3fc'; }
.emoji-person-raising-hand-medium-skin-tone:before { content: '\1f64b\1f3fd'; }
.emoji-person-raising-hand-medium-dark-skin-tone:before { content: '\1f64b\1f3fe'; }
.emoji-person-raising-hand-dark-skin-tone:before { content: '\1f64b\1f3ff'; }
.emoji-man-raising-hand:before { content: '\1f64b\200d\2642\fe0f'; }
.emoji-man-raising-hand-light-skin-tone:before { content: '\1f64b\1f3fb\200d\2642\fe0f'; }
.emoji-man-raising-hand-medium-light-skin-tone:before { content: '\1f64b\1f3fc\200d\2642\fe0f'; }
.emoji-man-raising-hand-medium-skin-tone:before { content: '\1f64b\1f3fd\200d\2642\fe0f'; }
.emoji-man-raising-hand-medium-dark-skin-tone:before { content: '\1f64b\1f3fe\200d\2642\fe0f'; }
.emoji-man-raising-hand-dark-skin-tone:before { content: '\1f64b\1f3ff\200d\2642\fe0f'; }
.emoji-woman-raising-hand:before { content: '\1f64b\200d\2640\fe0f'; }
.emoji-woman-raising-hand-light-skin-tone:before { content: '\1f64b\1f3fb\200d\2640\fe0f'; }
.emoji-woman-raising-hand-medium-light-skin-tone:before { content: '\1f64b\1f3fc\200d\2640\fe0f'; }
.emoji-woman-raising-hand-medium-skin-tone:before { content: '\1f64b\1f3fd\200d\2640\fe0f'; }
.emoji-woman-raising-hand-medium-dark-skin-tone:before { content: '\1f64b\1f3fe\200d\2640\fe0f'; }
.emoji-woman-raising-hand-dark-skin-tone:before { content: '\1f64b\1f3ff\200d\2640\fe0f'; }
.emoji-person-bowing:before { content: '\1f647'; }
.emoji-person-bowing-light-skin-tone:before { content: '\1f647\1f3fb'; }
.emoji-person-bowing-medium-light-skin-tone:before { content: '\1f647\1f3fc'; }
.emoji-person-bowing-medium-skin-tone:before { content: '\1f647\1f3fd'; }
.emoji-person-bowing-medium-dark-skin-tone:before { content: '\1f647\1f3fe'; }
.emoji-person-bowing-dark-skin-tone:before { content: '\1f647\1f3ff'; }
.emoji-man-bowing:before { content: '\1f647\200d\2642\fe0f'; }
.emoji-man-bowing-light-skin-tone:before { content: '\1f647\1f3fb\200d\2642\fe0f'; }
.emoji-man-bowing-medium-light-skin-tone:before { content: '\1f647\1f3fc\200d\2642\fe0f'; }
.emoji-man-bowing-medium-skin-tone:before { content: '\1f647\1f3fd\200d\2642\fe0f'; }
.emoji-man-bowing-medium-dark-skin-tone:before { content: '\1f647\1f3fe\200d\2642\fe0f'; }
.emoji-man-bowing-dark-skin-tone:before { content: '\1f647\1f3ff\200d\2642\fe0f'; }
.emoji-woman-bowing:before { content: '\1f647\200d\2640\fe0f'; }
.emoji-woman-bowing-light-skin-tone:before { content: '\1f647\1f3fb\200d\2640\fe0f'; }
.emoji-woman-bowing-medium-light-skin-tone:before { content: '\1f647\1f3fc\200d\2640\fe0f'; }
.emoji-woman-bowing-medium-skin-tone:before { content: '\1f647\1f3fd\200d\2640\fe0f'; }
.emoji-woman-bowing-medium-dark-skin-tone:before { content: '\1f647\1f3fe\200d\2640\fe0f'; }
.emoji-woman-bowing-dark-skin-tone:before { content: '\1f647\1f3ff\200d\2640\fe0f'; }
.emoji-person-facepalming:before { content: '\1f926'; }
.emoji-person-facepalming-light-skin-tone:before { content: '\1f926\1f3fb'; }
.emoji-person-facepalming-medium-light-skin-tone:before { content: '\1f926\1f3fc'; }
.emoji-person-facepalming-medium-skin-tone:before { content: '\1f926\1f3fd'; }
.emoji-person-facepalming-medium-dark-skin-tone:before { content: '\1f926\1f3fe'; }
.emoji-person-facepalming-dark-skin-tone:before { content: '\1f926\1f3ff'; }
.emoji-man-facepalming:before { content: '\1f926\200d\2642\fe0f'; }
.emoji-man-facepalming-light-skin-tone:before { content: '\1f926\1f3fb\200d\2642\fe0f'; }
.emoji-man-facepalming-medium-light-skin-tone:before { content: '\1f926\1f3fc\200d\2642\fe0f'; }
.emoji-man-facepalming-medium-skin-tone:before { content: '\1f926\1f3fd\200d\2642\fe0f'; }
.emoji-man-facepalming-medium-dark-skin-tone:before { content: '\1f926\1f3fe\200d\2642\fe0f'; }
.emoji-man-facepalming-dark-skin-tone:before { content: '\1f926\1f3ff\200d\2642\fe0f'; }
.emoji-woman-facepalming:before { content: '\1f926\200d\2640\fe0f'; }
.emoji-woman-facepalming-light-skin-tone:before { content: '\1f926\1f3fb\200d\2640\fe0f'; }
.emoji-woman-facepalming-medium-light-skin-tone:before { content: '\1f926\1f3fc\200d\2640\fe0f'; }
.emoji-woman-facepalming-medium-skin-tone:before { content: '\1f926\1f3fd\200d\2640\fe0f'; }
.emoji-woman-facepalming-medium-dark-skin-tone:before { content: '\1f926\1f3fe\200d\2640\fe0f'; }
.emoji-woman-facepalming-dark-skin-tone:before { content: '\1f926\1f3ff\200d\2640\fe0f'; }
.emoji-person-shrugging:before { content: '\1f937'; }
.emoji-person-shrugging-light-skin-tone:before { content: '\1f937\1f3fb'; }
.emoji-person-shrugging-medium-light-skin-tone:before { content: '\1f937\1f3fc'; }
.emoji-person-shrugging-medium-skin-tone:before { content: '\1f937\1f3fd'; }
.emoji-person-shrugging-medium-dark-skin-tone:before { content: '\1f937\1f3fe'; }
.emoji-person-shrugging-dark-skin-tone:before { content: '\1f937\1f3ff'; }
.emoji-man-shrugging:before { content: '\1f937\200d\2642\fe0f'; }
.emoji-man-shrugging-light-skin-tone:before { content: '\1f937\1f3fb\200d\2642\fe0f'; }
.emoji-man-shrugging-medium-light-skin-tone:before { content: '\1f937\1f3fc\200d\2642\fe0f'; }
.emoji-man-shrugging-medium-skin-tone:before { content: '\1f937\1f3fd\200d\2642\fe0f'; }
.emoji-man-shrugging-medium-dark-skin-tone:before { content: '\1f937\1f3fe\200d\2642\fe0f'; }
.emoji-man-shrugging-dark-skin-tone:before { content: '\1f937\1f3ff\200d\2642\fe0f'; }
.emoji-woman-shrugging:before { content: '\1f937\200d\2640\fe0f'; }
.emoji-woman-shrugging-light-skin-tone:before { content: '\1f937\1f3fb\200d\2640\fe0f'; }
.emoji-woman-shrugging-medium-light-skin-tone:before { content: '\1f937\1f3fc\200d\2640\fe0f'; }
.emoji-woman-shrugging-medium-skin-tone:before { content: '\1f937\1f3fd\200d\2640\fe0f'; }
.emoji-woman-shrugging-medium-dark-skin-tone:before { content: '\1f937\1f3fe\200d\2640\fe0f'; }
.emoji-woman-shrugging-dark-skin-tone:before { content: '\1f937\1f3ff\200d\2640\fe0f'; }
