.emoji-person-fencing:before { content: '\1f93a'; }
.emoji-horse-racing:before { content: '\1f3c7'; }
.emoji-horse-racing-light-skin-tone:before { content: '\1f3c7\1f3fb'; }
.emoji-horse-racing-medium-light-skin-tone:before { content: '\1f3c7\1f3fc'; }
.emoji-horse-racing-medium-skin-tone:before { content: '\1f3c7\1f3fd'; }
.emoji-horse-racing-medium-dark-skin-tone:before { content: '\1f3c7\1f3fe'; }
.emoji-horse-racing-dark-skin-tone:before { content: '\1f3c7\1f3ff'; }
.emoji-skier:before { content: '\26f7'; }
.emoji-snowboarder:before { content: '\1f3c2'; }
.emoji-snowboarder-light-skin-tone:before { content: '\1f3c2\1f3fb'; }
.emoji-snowboarder-medium-light-skin-tone:before { content: '\1f3c2\1f3fc'; }
.emoji-snowboarder-medium-skin-tone:before { content: '\1f3c2\1f3fd'; }
.emoji-snowboarder-medium-dark-skin-tone:before { content: '\1f3c2\1f3fe'; }
.emoji-snowboarder-dark-skin-tone:before { content: '\1f3c2\1f3ff'; }
.emoji-person-golfing:before { content: '\1f3cc'; }
.emoji-person-golfing-light-skin-tone:before { content: '\1f3cc\1f3fb'; }
.emoji-person-golfing-medium-light-skin-tone:before { content: '\1f3cc\1f3fc'; }
.emoji-person-golfing-medium-skin-tone:before { content: '\1f3cc\1f3fd'; }
.emoji-person-golfing-medium-dark-skin-tone:before { content: '\1f3cc\1f3fe'; }
.emoji-person-golfing-dark-skin-tone:before { content: '\1f3cc\1f3ff'; }
.emoji-man-golfing:before { content: '\1f3cc\fe0f\200d\2642\fe0f'; }
.emoji-man-golfing-light-skin-tone:before { content: '\1f3cc\1f3fb\200d\2642\fe0f'; }
.emoji-man-golfing-medium-light-skin-tone:before { content: '\1f3cc\1f3fc\200d\2642\fe0f'; }
.emoji-man-golfing-medium-skin-tone:before { content: '\1f3cc\1f3fd\200d\2642\fe0f'; }
.emoji-man-golfing-medium-dark-skin-tone:before { content: '\1f3cc\1f3fe\200d\2642\fe0f'; }
.emoji-man-golfing-dark-skin-tone:before { content: '\1f3cc\1f3ff\200d\2642\fe0f'; }
.emoji-woman-golfing:before { content: '\1f3cc\fe0f\200d\2640\fe0f'; }
.emoji-woman-golfing-light-skin-tone:before { content: '\1f3cc\1f3fb\200d\2640\fe0f'; }
.emoji-woman-golfing-medium-light-skin-tone:before { content: '\1f3cc\1f3fc\200d\2640\fe0f'; }
.emoji-woman-golfing-medium-skin-tone:before { content: '\1f3cc\1f3fd\200d\2640\fe0f'; }
.emoji-woman-golfing-medium-dark-skin-tone:before { content: '\1f3cc\1f3fe\200d\2640\fe0f'; }
.emoji-woman-golfing-dark-skin-tone:before { content: '\1f3cc\1f3ff\200d\2640\fe0f'; }
.emoji-person-surfing:before { content: '\1f3c4'; }
.emoji-person-surfing-light-skin-tone:before { content: '\1f3c4\1f3fb'; }
.emoji-person-surfing-medium-light-skin-tone:before { content: '\1f3c4\1f3fc'; }
.emoji-person-surfing-medium-skin-tone:before { content: '\1f3c4\1f3fd'; }
.emoji-person-surfing-medium-dark-skin-tone:before { content: '\1f3c4\1f3fe'; }
.emoji-person-surfing-dark-skin-tone:before { content: '\1f3c4\1f3ff'; }
.emoji-man-surfing:before { content: '\1f3c4\200d\2642\fe0f'; }
.emoji-man-surfing-light-skin-tone:before { content: '\1f3c4\1f3fb\200d\2642\fe0f'; }
.emoji-man-surfing-medium-light-skin-tone:before { content: '\1f3c4\1f3fc\200d\2642\fe0f'; }
.emoji-man-surfing-medium-skin-tone:before { content: '\1f3c4\1f3fd\200d\2642\fe0f'; }
.emoji-man-surfing-medium-dark-skin-tone:before { content: '\1f3c4\1f3fe\200d\2642\fe0f'; }
.emoji-man-surfing-dark-skin-tone:before { content: '\1f3c4\1f3ff\200d\2642\fe0f'; }
.emoji-woman-surfing:before { content: '\1f3c4\200d\2640\fe0f'; }
.emoji-woman-surfing-light-skin-tone:before { content: '\1f3c4\1f3fb\200d\2640\fe0f'; }
.emoji-woman-surfing-medium-light-skin-tone:before { content: '\1f3c4\1f3fc\200d\2640\fe0f'; }
.emoji-woman-surfing-medium-skin-tone:before { content: '\1f3c4\1f3fd\200d\2640\fe0f'; }
.emoji-woman-surfing-medium-dark-skin-tone:before { content: '\1f3c4\1f3fe\200d\2640\fe0f'; }
.emoji-woman-surfing-dark-skin-tone:before { content: '\1f3c4\1f3ff\200d\2640\fe0f'; }
.emoji-person-rowing-boat:before { content: '\1f6a3'; }
.emoji-person-rowing-boat-light-skin-tone:before { content: '\1f6a3\1f3fb'; }
.emoji-person-rowing-boat-medium-light-skin-tone:before { content: '\1f6a3\1f3fc'; }
.emoji-person-rowing-boat-medium-skin-tone:before { content: '\1f6a3\1f3fd'; }
.emoji-person-rowing-boat-medium-dark-skin-tone:before { content: '\1f6a3\1f3fe'; }
.emoji-person-rowing-boat-dark-skin-tone:before { content: '\1f6a3\1f3ff'; }
.emoji-man-rowing-boat:before { content: '\1f6a3\200d\2642\fe0f'; }
.emoji-man-rowing-boat-light-skin-tone:before { content: '\1f6a3\1f3fb\200d\2642\fe0f'; }
.emoji-man-rowing-boat-medium-light-skin-tone:before { content: '\1f6a3\1f3fc\200d\2642\fe0f'; }
.emoji-man-rowing-boat-medium-skin-tone:before { content: '\1f6a3\1f3fd\200d\2642\fe0f'; }
.emoji-man-rowing-boat-medium-dark-skin-tone:before { content: '\1f6a3\1f3fe\200d\2642\fe0f'; }
.emoji-man-rowing-boat-dark-skin-tone:before { content: '\1f6a3\1f3ff\200d\2642\fe0f'; }
.emoji-woman-rowing-boat:before { content: '\1f6a3\200d\2640\fe0f'; }
.emoji-woman-rowing-boat-light-skin-tone:before { content: '\1f6a3\1f3fb\200d\2640\fe0f'; }
.emoji-woman-rowing-boat-medium-light-skin-tone:before { content: '\1f6a3\1f3fc\200d\2640\fe0f'; }
.emoji-woman-rowing-boat-medium-skin-tone:before { content: '\1f6a3\1f3fd\200d\2640\fe0f'; }
.emoji-woman-rowing-boat-medium-dark-skin-tone:before { content: '\1f6a3\1f3fe\200d\2640\fe0f'; }
.emoji-woman-rowing-boat-dark-skin-tone:before { content: '\1f6a3\1f3ff\200d\2640\fe0f'; }
.emoji-person-swimming:before { content: '\1f3ca'; }
.emoji-person-swimming-light-skin-tone:before { content: '\1f3ca\1f3fb'; }
.emoji-person-swimming-medium-light-skin-tone:before { content: '\1f3ca\1f3fc'; }
.emoji-person-swimming-medium-skin-tone:before { content: '\1f3ca\1f3fd'; }
.emoji-person-swimming-medium-dark-skin-tone:before { content: '\1f3ca\1f3fe'; }
.emoji-person-swimming-dark-skin-tone:before { content: '\1f3ca\1f3ff'; }
.emoji-man-swimming:before { content: '\1f3ca\200d\2642\fe0f'; }
.emoji-man-swimming-light-skin-tone:before { content: '\1f3ca\1f3fb\200d\2642\fe0f'; }
.emoji-man-swimming-medium-light-skin-tone:before { content: '\1f3ca\1f3fc\200d\2642\fe0f'; }
.emoji-man-swimming-medium-skin-tone:before { content: '\1f3ca\1f3fd\200d\2642\fe0f'; }
.emoji-man-swimming-medium-dark-skin-tone:before { content: '\1f3ca\1f3fe\200d\2642\fe0f'; }
.emoji-man-swimming-dark-skin-tone:before { content: '\1f3ca\1f3ff\200d\2642\fe0f'; }
.emoji-woman-swimming:before { content: '\1f3ca\200d\2640\fe0f'; }
.emoji-woman-swimming-light-skin-tone:before { content: '\1f3ca\1f3fb\200d\2640\fe0f'; }
.emoji-woman-swimming-medium-light-skin-tone:before { content: '\1f3ca\1f3fc\200d\2640\fe0f'; }
.emoji-woman-swimming-medium-skin-tone:before { content: '\1f3ca\1f3fd\200d\2640\fe0f'; }
.emoji-woman-swimming-medium-dark-skin-tone:before { content: '\1f3ca\1f3fe\200d\2640\fe0f'; }
.emoji-woman-swimming-dark-skin-tone:before { content: '\1f3ca\1f3ff\200d\2640\fe0f'; }
.emoji-person-bouncing-ball:before { content: '\26f9'; }
.emoji-person-bouncing-ball-light-skin-tone:before { content: '\26f9\1f3fb'; }
.emoji-person-bouncing-ball-medium-light-skin-tone:before { content: '\26f9\1f3fc'; }
.emoji-person-bouncing-ball-medium-skin-tone:before { content: '\26f9\1f3fd'; }
.emoji-person-bouncing-ball-medium-dark-skin-tone:before { content: '\26f9\1f3fe'; }
.emoji-person-bouncing-ball-dark-skin-tone:before { content: '\26f9\1f3ff'; }
.emoji-man-bouncing-ball:before { content: '\26f9\fe0f\200d\2642\fe0f'; }
.emoji-man-bouncing-ball-light-skin-tone:before { content: '\26f9\1f3fb\200d\2642\fe0f'; }
.emoji-man-bouncing-ball-medium-light-skin-tone:before { content: '\26f9\1f3fc\200d\2642\fe0f'; }
.emoji-man-bouncing-ball-medium-skin-tone:before { content: '\26f9\1f3fd\200d\2642\fe0f'; }
.emoji-man-bouncing-ball-medium-dark-skin-tone:before { content: '\26f9\1f3fe\200d\2642\fe0f'; }
.emoji-man-bouncing-ball-dark-skin-tone:before { content: '\26f9\1f3ff\200d\2642\fe0f'; }
.emoji-woman-bouncing-ball:before { content: '\26f9\fe0f\200d\2640\fe0f'; }
.emoji-woman-bouncing-ball-light-skin-tone:before { content: '\26f9\1f3fb\200d\2640\fe0f'; }
.emoji-woman-bouncing-ball-medium-light-skin-tone:before { content: '\26f9\1f3fc\200d\2640\fe0f'; }
.emoji-woman-bouncing-ball-medium-skin-tone:before { content: '\26f9\1f3fd\200d\2640\fe0f'; }
.emoji-woman-bouncing-ball-medium-dark-skin-tone:before { content: '\26f9\1f3fe\200d\2640\fe0f'; }
.emoji-woman-bouncing-ball-dark-skin-tone:before { content: '\26f9\1f3ff\200d\2640\fe0f'; }
.emoji-person-lifting-weights:before { content: '\1f3cb'; }
.emoji-person-lifting-weights-light-skin-tone:before { content: '\1f3cb\1f3fb'; }
.emoji-person-lifting-weights-medium-light-skin-tone:before { content: '\1f3cb\1f3fc'; }
.emoji-person-lifting-weights-medium-skin-tone:before { content: '\1f3cb\1f3fd'; }
.emoji-person-lifting-weights-medium-dark-skin-tone:before { content: '\1f3cb\1f3fe'; }
.emoji-person-lifting-weights-dark-skin-tone:before { content: '\1f3cb\1f3ff'; }
.emoji-man-lifting-weights:before { content: '\1f3cb\fe0f\200d\2642\fe0f'; }
.emoji-man-lifting-weights-light-skin-tone:before { content: '\1f3cb\1f3fb\200d\2642\fe0f'; }
.emoji-man-lifting-weights-medium-light-skin-tone:before { content: '\1f3cb\1f3fc\200d\2642\fe0f'; }
.emoji-man-lifting-weights-medium-skin-tone:before { content: '\1f3cb\1f3fd\200d\2642\fe0f'; }
.emoji-man-lifting-weights-medium-dark-skin-tone:before { content: '\1f3cb\1f3fe\200d\2642\fe0f'; }
.emoji-man-lifting-weights-dark-skin-tone:before { content: '\1f3cb\1f3ff\200d\2642\fe0f'; }
.emoji-woman-lifting-weights:before { content: '\1f3cb\fe0f\200d\2640\fe0f'; }
.emoji-woman-lifting-weights-light-skin-tone:before { content: '\1f3cb\1f3fb\200d\2640\fe0f'; }
.emoji-woman-lifting-weights-medium-light-skin-tone:before { content: '\1f3cb\1f3fc\200d\2640\fe0f'; }
.emoji-woman-lifting-weights-medium-skin-tone:before { content: '\1f3cb\1f3fd\200d\2640\fe0f'; }
.emoji-woman-lifting-weights-medium-dark-skin-tone:before { content: '\1f3cb\1f3fe\200d\2640\fe0f'; }
.emoji-woman-lifting-weights-dark-skin-tone:before { content: '\1f3cb\1f3ff\200d\2640\fe0f'; }
.emoji-person-biking:before { content: '\1f6b4'; }
.emoji-person-biking-light-skin-tone:before { content: '\1f6b4\1f3fb'; }
.emoji-person-biking-medium-light-skin-tone:before { content: '\1f6b4\1f3fc'; }
.emoji-person-biking-medium-skin-tone:before { content: '\1f6b4\1f3fd'; }
.emoji-person-biking-medium-dark-skin-tone:before { content: '\1f6b4\1f3fe'; }
.emoji-person-biking-dark-skin-tone:before { content: '\1f6b4\1f3ff'; }
.emoji-man-biking:before { content: '\1f6b4\200d\2642\fe0f'; }
.emoji-man-biking-light-skin-tone:before { content: '\1f6b4\1f3fb\200d\2642\fe0f'; }
.emoji-man-biking-medium-light-skin-tone:before { content: '\1f6b4\1f3fc\200d\2642\fe0f'; }
.emoji-man-biking-medium-skin-tone:before { content: '\1f6b4\1f3fd\200d\2642\fe0f'; }
.emoji-man-biking-medium-dark-skin-tone:before { content: '\1f6b4\1f3fe\200d\2642\fe0f'; }
.emoji-man-biking-dark-skin-tone:before { content: '\1f6b4\1f3ff\200d\2642\fe0f'; }
.emoji-woman-biking:before { content: '\1f6b4\200d\2640\fe0f'; }
.emoji-woman-biking-light-skin-tone:before { content: '\1f6b4\1f3fb\200d\2640\fe0f'; }
.emoji-woman-biking-medium-light-skin-tone:before { content: '\1f6b4\1f3fc\200d\2640\fe0f'; }
.emoji-woman-biking-medium-skin-tone:before { content: '\1f6b4\1f3fd\200d\2640\fe0f'; }
.emoji-woman-biking-medium-dark-skin-tone:before { content: '\1f6b4\1f3fe\200d\2640\fe0f'; }
.emoji-woman-biking-dark-skin-tone:before { content: '\1f6b4\1f3ff\200d\2640\fe0f'; }
.emoji-person-mountain-biking:before { content: '\1f6b5'; }
.emoji-person-mountain-biking-light-skin-tone:before { content: '\1f6b5\1f3fb'; }
.emoji-person-mountain-biking-medium-light-skin-tone:before { content: '\1f6b5\1f3fc'; }
.emoji-person-mountain-biking-medium-skin-tone:before { content: '\1f6b5\1f3fd'; }
.emoji-person-mountain-biking-medium-dark-skin-tone:before { content: '\1f6b5\1f3fe'; }
.emoji-person-mountain-biking-dark-skin-tone:before { content: '\1f6b5\1f3ff'; }
.emoji-man-mountain-biking:before { content: '\1f6b5\200d\2642\fe0f'; }
.emoji-man-mountain-biking-light-skin-tone:before { content: '\1f6b5\1f3fb\200d\2642\fe0f'; }
.emoji-man-mountain-biking-medium-light-skin-tone:before { content: '\1f6b5\1f3fc\200d\2642\fe0f'; }
.emoji-man-mountain-biking-medium-skin-tone:before { content: '\1f6b5\1f3fd\200d\2642\fe0f'; }
.emoji-man-mountain-biking-medium-dark-skin-tone:before { content: '\1f6b5\1f3fe\200d\2642\fe0f'; }
.emoji-man-mountain-biking-dark-skin-tone:before { content: '\1f6b5\1f3ff\200d\2642\fe0f'; }
.emoji-woman-mountain-biking:before { content: '\1f6b5\200d\2640\fe0f'; }
.emoji-woman-mountain-biking-light-skin-tone:before { content: '\1f6b5\1f3fb\200d\2640\fe0f'; }
.emoji-woman-mountain-biking-medium-light-skin-tone:before { content: '\1f6b5\1f3fc\200d\2640\fe0f'; }
.emoji-woman-mountain-biking-medium-skin-tone:before { content: '\1f6b5\1f3fd\200d\2640\fe0f'; }
.emoji-woman-mountain-biking-medium-dark-skin-tone:before { content: '\1f6b5\1f3fe\200d\2640\fe0f'; }
.emoji-woman-mountain-biking-dark-skin-tone:before { content: '\1f6b5\1f3ff\200d\2640\fe0f'; }
.emoji-racing-car:before { content: '\1f3ce'; }
.emoji-motorcycle:before { content: '\1f3cd'; }
.emoji-person-cartwheeling:before { content: '\1f938'; }
.emoji-person-cartwheeling-light-skin-tone:before { content: '\1f938\1f3fb'; }
.emoji-person-cartwheeling-medium-light-skin-tone:before { content: '\1f938\1f3fc'; }
.emoji-person-cartwheeling-medium-skin-tone:before { content: '\1f938\1f3fd'; }
.emoji-person-cartwheeling-medium-dark-skin-tone:before { content: '\1f938\1f3fe'; }
.emoji-person-cartwheeling-dark-skin-tone:before { content: '\1f938\1f3ff'; }
.emoji-man-cartwheeling:before { content: '\1f938\200d\2642\fe0f'; }
.emoji-man-cartwheeling-light-skin-tone:before { content: '\1f938\1f3fb\200d\2642\fe0f'; }
.emoji-man-cartwheeling-medium-light-skin-tone:before { content: '\1f938\1f3fc\200d\2642\fe0f'; }
.emoji-man-cartwheeling-medium-skin-tone:before { content: '\1f938\1f3fd\200d\2642\fe0f'; }
.emoji-man-cartwheeling-medium-dark-skin-tone:before { content: '\1f938\1f3fe\200d\2642\fe0f'; }
.emoji-man-cartwheeling-dark-skin-tone:before { content: '\1f938\1f3ff\200d\2642\fe0f'; }
.emoji-woman-cartwheeling:before { content: '\1f938\200d\2640\fe0f'; }
.emoji-woman-cartwheeling-light-skin-tone:before { content: '\1f938\1f3fb\200d\2640\fe0f'; }
.emoji-woman-cartwheeling-medium-light-skin-tone:before { content: '\1f938\1f3fc\200d\2640\fe0f'; }
.emoji-woman-cartwheeling-medium-skin-tone:before { content: '\1f938\1f3fd\200d\2640\fe0f'; }
.emoji-woman-cartwheeling-medium-dark-skin-tone:before { content: '\1f938\1f3fe\200d\2640\fe0f'; }
.emoji-woman-cartwheeling-dark-skin-tone:before { content: '\1f938\1f3ff\200d\2640\fe0f'; }
.emoji-people-wrestling:before { content: '\1f93c'; }
.emoji-men-wrestling:before { content: '\1f93c\200d\2642\fe0f'; }
.emoji-women-wrestling:before { content: '\1f93c\200d\2640\fe0f'; }
.emoji-person-playing-water-polo:before { content: '\1f93d'; }
.emoji-person-playing-water-polo-light-skin-tone:before { content: '\1f93d\1f3fb'; }
.emoji-person-playing-water-polo-medium-light-skin-tone:before { content: '\1f93d\1f3fc'; }
.emoji-person-playing-water-polo-medium-skin-tone:before { content: '\1f93d\1f3fd'; }
.emoji-person-playing-water-polo-medium-dark-skin-tone:before { content: '\1f93d\1f3fe'; }
.emoji-person-playing-water-polo-dark-skin-tone:before { content: '\1f93d\1f3ff'; }
.emoji-man-playing-water-polo:before { content: '\1f93d\200d\2642\fe0f'; }
.emoji-man-playing-water-polo-light-skin-tone:before { content: '\1f93d\1f3fb\200d\2642\fe0f'; }
.emoji-man-playing-water-polo-medium-light-skin-tone:before { content: '\1f93d\1f3fc\200d\2642\fe0f'; }
.emoji-man-playing-water-polo-medium-skin-tone:before { content: '\1f93d\1f3fd\200d\2642\fe0f'; }
.emoji-man-playing-water-polo-medium-dark-skin-tone:before { content: '\1f93d\1f3fe\200d\2642\fe0f'; }
.emoji-man-playing-water-polo-dark-skin-tone:before { content: '\1f93d\1f3ff\200d\2642\fe0f'; }
.emoji-woman-playing-water-polo:before { content: '\1f93d\200d\2640\fe0f'; }
.emoji-woman-playing-water-polo-light-skin-tone:before { content: '\1f93d\1f3fb\200d\2640\fe0f'; }
.emoji-woman-playing-water-polo-medium-light-skin-tone:before { content: '\1f93d\1f3fc\200d\2640\fe0f'; }
.emoji-woman-playing-water-polo-medium-skin-tone:before { content: '\1f93d\1f3fd\200d\2640\fe0f'; }
.emoji-woman-playing-water-polo-medium-dark-skin-tone:before { content: '\1f93d\1f3fe\200d\2640\fe0f'; }
.emoji-woman-playing-water-polo-dark-skin-tone:before { content: '\1f93d\1f3ff\200d\2640\fe0f'; }
.emoji-person-playing-handball:before { content: '\1f93e'; }
.emoji-person-playing-handball-light-skin-tone:before { content: '\1f93e\1f3fb'; }
.emoji-person-playing-handball-medium-light-skin-tone:before { content: '\1f93e\1f3fc'; }
.emoji-person-playing-handball-medium-skin-tone:before { content: '\1f93e\1f3fd'; }
.emoji-person-playing-handball-medium-dark-skin-tone:before { content: '\1f93e\1f3fe'; }
.emoji-person-playing-handball-dark-skin-tone:before { content: '\1f93e\1f3ff'; }
.emoji-man-playing-handball:before { content: '\1f93e\200d\2642\fe0f'; }
.emoji-man-playing-handball-light-skin-tone:before { content: '\1f93e\1f3fb\200d\2642\fe0f'; }
.emoji-man-playing-handball-medium-light-skin-tone:before { content: '\1f93e\1f3fc\200d\2642\fe0f'; }
.emoji-man-playing-handball-medium-skin-tone:before { content: '\1f93e\1f3fd\200d\2642\fe0f'; }
.emoji-man-playing-handball-medium-dark-skin-tone:before { content: '\1f93e\1f3fe\200d\2642\fe0f'; }
.emoji-man-playing-handball-dark-skin-tone:before { content: '\1f93e\1f3ff\200d\2642\fe0f'; }
.emoji-woman-playing-handball:before { content: '\1f93e\200d\2640\fe0f'; }
.emoji-woman-playing-handball-light-skin-tone:before { content: '\1f93e\1f3fb\200d\2640\fe0f'; }
.emoji-woman-playing-handball-medium-light-skin-tone:before { content: '\1f93e\1f3fc\200d\2640\fe0f'; }
.emoji-woman-playing-handball-medium-skin-tone:before { content: '\1f93e\1f3fd\200d\2640\fe0f'; }
.emoji-woman-playing-handball-medium-dark-skin-tone:before { content: '\1f93e\1f3fe\200d\2640\fe0f'; }
.emoji-woman-playing-handball-dark-skin-tone:before { content: '\1f93e\1f3ff\200d\2640\fe0f'; }
.emoji-person-juggling:before { content: '\1f939'; }
.emoji-person-juggling-light-skin-tone:before { content: '\1f939\1f3fb'; }
.emoji-person-juggling-medium-light-skin-tone:before { content: '\1f939\1f3fc'; }
.emoji-person-juggling-medium-skin-tone:before { content: '\1f939\1f3fd'; }
.emoji-person-juggling-medium-dark-skin-tone:before { content: '\1f939\1f3fe'; }
.emoji-person-juggling-dark-skin-tone:before { content: '\1f939\1f3ff'; }
.emoji-man-juggling:before { content: '\1f939\200d\2642\fe0f'; }
.emoji-man-juggling-light-skin-tone:before { content: '\1f939\1f3fb\200d\2642\fe0f'; }
.emoji-man-juggling-medium-light-skin-tone:before { content: '\1f939\1f3fc\200d\2642\fe0f'; }
.emoji-man-juggling-medium-skin-tone:before { content: '\1f939\1f3fd\200d\2642\fe0f'; }
.emoji-man-juggling-medium-dark-skin-tone:before { content: '\1f939\1f3fe\200d\2642\fe0f'; }
.emoji-man-juggling-dark-skin-tone:before { content: '\1f939\1f3ff\200d\2642\fe0f'; }
.emoji-woman-juggling:before { content: '\1f939\200d\2640\fe0f'; }
.emoji-woman-juggling-light-skin-tone:before { content: '\1f939\1f3fb\200d\2640\fe0f'; }
.emoji-woman-juggling-medium-light-skin-tone:before { content: '\1f939\1f3fc\200d\2640\fe0f'; }
.emoji-woman-juggling-medium-skin-tone:before { content: '\1f939\1f3fd\200d\2640\fe0f'; }
.emoji-woman-juggling-medium-dark-skin-tone:before { content: '\1f939\1f3fe\200d\2640\fe0f'; }
.emoji-woman-juggling-dark-skin-tone:before { content: '\1f939\1f3ff\200d\2640\fe0f'; }
