.emoji-boy:before { content: '\1f466'; }
.emoji-boy-light-skin-tone:before { content: '\1f466\1f3fb'; }
.emoji-boy-medium-light-skin-tone:before { content: '\1f466\1f3fc'; }
.emoji-boy-medium-skin-tone:before { content: '\1f466\1f3fd'; }
.emoji-boy-medium-dark-skin-tone:before { content: '\1f466\1f3fe'; }
.emoji-boy-dark-skin-tone:before { content: '\1f466\1f3ff'; }
.emoji-girl:before { content: '\1f467'; }
.emoji-girl-light-skin-tone:before { content: '\1f467\1f3fb'; }
.emoji-girl-medium-light-skin-tone:before { content: '\1f467\1f3fc'; }
.emoji-girl-medium-skin-tone:before { content: '\1f467\1f3fd'; }
.emoji-girl-medium-dark-skin-tone:before { content: '\1f467\1f3fe'; }
.emoji-girl-dark-skin-tone:before { content: '\1f467\1f3ff'; }
.emoji-man:before { content: '\1f468'; }
.emoji-man-light-skin-tone:before { content: '\1f468\1f3fb'; }
.emoji-man-medium-light-skin-tone:before { content: '\1f468\1f3fc'; }
.emoji-man-medium-skin-tone:before { content: '\1f468\1f3fd'; }
.emoji-man-medium-dark-skin-tone:before { content: '\1f468\1f3fe'; }
.emoji-man-dark-skin-tone:before { content: '\1f468\1f3ff'; }
.emoji-woman:before { content: '\1f469'; }
.emoji-woman-light-skin-tone:before { content: '\1f469\1f3fb'; }
.emoji-woman-medium-light-skin-tone:before { content: '\1f469\1f3fc'; }
.emoji-woman-medium-skin-tone:before { content: '\1f469\1f3fd'; }
.emoji-woman-medium-dark-skin-tone:before { content: '\1f469\1f3fe'; }
.emoji-woman-dark-skin-tone:before { content: '\1f469\1f3ff'; }
.emoji-old-man:before { content: '\1f474'; }
.emoji-old-man-light-skin-tone:before { content: '\1f474\1f3fb'; }
.emoji-old-man-medium-light-skin-tone:before { content: '\1f474\1f3fc'; }
.emoji-old-man-medium-skin-tone:before { content: '\1f474\1f3fd'; }
.emoji-old-man-medium-dark-skin-tone:before { content: '\1f474\1f3fe'; }
.emoji-old-man-dark-skin-tone:before { content: '\1f474\1f3ff'; }
.emoji-old-woman:before { content: '\1f475'; }
.emoji-old-woman-light-skin-tone:before { content: '\1f475\1f3fb'; }
.emoji-old-woman-medium-light-skin-tone:before { content: '\1f475\1f3fc'; }
.emoji-old-woman-medium-skin-tone:before { content: '\1f475\1f3fd'; }
.emoji-old-woman-medium-dark-skin-tone:before { content: '\1f475\1f3fe'; }
.emoji-old-woman-dark-skin-tone:before { content: '\1f475\1f3ff'; }
.emoji-baby:before { content: '\1f476'; }
.emoji-baby-light-skin-tone:before { content: '\1f476\1f3fb'; }
.emoji-baby-medium-light-skin-tone:before { content: '\1f476\1f3fc'; }
.emoji-baby-medium-skin-tone:before { content: '\1f476\1f3fd'; }
.emoji-baby-medium-dark-skin-tone:before { content: '\1f476\1f3fe'; }
.emoji-baby-dark-skin-tone:before { content: '\1f476\1f3ff'; }
.emoji-baby-angel:before { content: '\1f47c'; }
.emoji-baby-angel-light-skin-tone:before { content: '\1f47c\1f3fb'; }
.emoji-baby-angel-medium-light-skin-tone:before { content: '\1f47c\1f3fc'; }
.emoji-baby-angel-medium-skin-tone:before { content: '\1f47c\1f3fd'; }
.emoji-baby-angel-medium-dark-skin-tone:before { content: '\1f47c\1f3fe'; }
.emoji-baby-angel-dark-skin-tone:before { content: '\1f47c\1f3ff'; }
