.emoji-man-health-worker:before { content: '\1f468\200d\2695\fe0f'; }
.emoji-man-health-worker-light-skin-tone:before { content: '\1f468\1f3fb\200d\2695\fe0f'; }
.emoji-man-health-worker-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\2695\fe0f'; }
.emoji-man-health-worker-medium-skin-tone:before { content: '\1f468\1f3fd\200d\2695\fe0f'; }
.emoji-man-health-worker-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\2695\fe0f'; }
.emoji-man-health-worker-dark-skin-tone:before { content: '\1f468\1f3ff\200d\2695\fe0f'; }
.emoji-woman-health-worker:before { content: '\1f469\200d\2695\fe0f'; }
.emoji-woman-health-worker-light-skin-tone:before { content: '\1f469\1f3fb\200d\2695\fe0f'; }
.emoji-woman-health-worker-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\2695\fe0f'; }
.emoji-woman-health-worker-medium-skin-tone:before { content: '\1f469\1f3fd\200d\2695\fe0f'; }
.emoji-woman-health-worker-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\2695\fe0f'; }
.emoji-woman-health-worker-dark-skin-tone:before { content: '\1f469\1f3ff\200d\2695\fe0f'; }
.emoji-man-student:before { content: '\1f468\200d\1f393'; }
.emoji-man-student-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f393'; }
.emoji-man-student-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f393'; }
.emoji-man-student-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f393'; }
.emoji-man-student-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f393'; }
.emoji-man-student-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f393'; }
.emoji-woman-student:before { content: '\1f469\200d\1f393'; }
.emoji-woman-student-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f393'; }
.emoji-woman-student-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f393'; }
.emoji-woman-student-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f393'; }
.emoji-woman-student-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f393'; }
.emoji-woman-student-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f393'; }
.emoji-man-teacher:before { content: '\1f468\200d\1f3eb'; }
.emoji-man-teacher-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f3eb'; }
.emoji-man-teacher-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f3eb'; }
.emoji-man-teacher-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f3eb'; }
.emoji-man-teacher-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f3eb'; }
.emoji-man-teacher-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f3eb'; }
.emoji-woman-teacher:before { content: '\1f469\200d\1f3eb'; }
.emoji-woman-teacher-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f3eb'; }
.emoji-woman-teacher-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f3eb'; }
.emoji-woman-teacher-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f3eb'; }
.emoji-woman-teacher-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f3eb'; }
.emoji-woman-teacher-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f3eb'; }
.emoji-man-judge:before { content: '\1f468\200d\2696\fe0f'; }
.emoji-man-judge-light-skin-tone:before { content: '\1f468\1f3fb\200d\2696\fe0f'; }
.emoji-man-judge-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\2696\fe0f'; }
.emoji-man-judge-medium-skin-tone:before { content: '\1f468\1f3fd\200d\2696\fe0f'; }
.emoji-man-judge-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\2696\fe0f'; }
.emoji-man-judge-dark-skin-tone:before { content: '\1f468\1f3ff\200d\2696\fe0f'; }
.emoji-woman-judge:before { content: '\1f469\200d\2696\fe0f'; }
.emoji-woman-judge-light-skin-tone:before { content: '\1f469\1f3fb\200d\2696\fe0f'; }
.emoji-woman-judge-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\2696\fe0f'; }
.emoji-woman-judge-medium-skin-tone:before { content: '\1f469\1f3fd\200d\2696\fe0f'; }
.emoji-woman-judge-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\2696\fe0f'; }
.emoji-woman-judge-dark-skin-tone:before { content: '\1f469\1f3ff\200d\2696\fe0f'; }
.emoji-man-farmer:before { content: '\1f468\200d\1f33e'; }
.emoji-man-farmer-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f33e'; }
.emoji-man-farmer-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f33e'; }
.emoji-man-farmer-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f33e'; }
.emoji-man-farmer-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f33e'; }
.emoji-man-farmer-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f33e'; }
.emoji-woman-farmer:before { content: '\1f469\200d\1f33e'; }
.emoji-woman-farmer-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f33e'; }
.emoji-woman-farmer-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f33e'; }
.emoji-woman-farmer-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f33e'; }
.emoji-woman-farmer-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f33e'; }
.emoji-woman-farmer-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f33e'; }
.emoji-man-cook:before { content: '\1f468\200d\1f373'; }
.emoji-man-cook-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f373'; }
.emoji-man-cook-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f373'; }
.emoji-man-cook-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f373'; }
.emoji-man-cook-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f373'; }
.emoji-man-cook-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f373'; }
.emoji-woman-cook:before { content: '\1f469\200d\1f373'; }
.emoji-woman-cook-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f373'; }
.emoji-woman-cook-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f373'; }
.emoji-woman-cook-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f373'; }
.emoji-woman-cook-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f373'; }
.emoji-woman-cook-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f373'; }
.emoji-man-mechanic:before { content: '\1f468\200d\1f527'; }
.emoji-man-mechanic-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f527'; }
.emoji-man-mechanic-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f527'; }
.emoji-man-mechanic-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f527'; }
.emoji-man-mechanic-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f527'; }
.emoji-man-mechanic-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f527'; }
.emoji-woman-mechanic:before { content: '\1f469\200d\1f527'; }
.emoji-woman-mechanic-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f527'; }
.emoji-woman-mechanic-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f527'; }
.emoji-woman-mechanic-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f527'; }
.emoji-woman-mechanic-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f527'; }
.emoji-woman-mechanic-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f527'; }
.emoji-man-factory-worker:before { content: '\1f468\200d\1f3ed'; }
.emoji-man-factory-worker-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f3ed'; }
.emoji-man-factory-worker-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f3ed'; }
.emoji-man-factory-worker-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f3ed'; }
.emoji-man-factory-worker-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f3ed'; }
.emoji-man-factory-worker-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f3ed'; }
.emoji-woman-factory-worker:before { content: '\1f469\200d\1f3ed'; }
.emoji-woman-factory-worker-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f3ed'; }
.emoji-woman-factory-worker-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f3ed'; }
.emoji-woman-factory-worker-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f3ed'; }
.emoji-woman-factory-worker-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f3ed'; }
.emoji-woman-factory-worker-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f3ed'; }
.emoji-man-office-worker:before { content: '\1f468\200d\1f4bc'; }
.emoji-man-office-worker-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f4bc'; }
.emoji-man-office-worker-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f4bc'; }
.emoji-man-office-worker-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f4bc'; }
.emoji-man-office-worker-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f4bc'; }
.emoji-man-office-worker-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f4bc'; }
.emoji-woman-office-worker:before { content: '\1f469\200d\1f4bc'; }
.emoji-woman-office-worker-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f4bc'; }
.emoji-woman-office-worker-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f4bc'; }
.emoji-woman-office-worker-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f4bc'; }
.emoji-woman-office-worker-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f4bc'; }
.emoji-woman-office-worker-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f4bc'; }
.emoji-man-scientist:before { content: '\1f468\200d\1f52c'; }
.emoji-man-scientist-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f52c'; }
.emoji-man-scientist-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f52c'; }
.emoji-man-scientist-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f52c'; }
.emoji-man-scientist-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f52c'; }
.emoji-man-scientist-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f52c'; }
.emoji-woman-scientist:before { content: '\1f469\200d\1f52c'; }
.emoji-woman-scientist-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f52c'; }
.emoji-woman-scientist-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f52c'; }
.emoji-woman-scientist-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f52c'; }
.emoji-woman-scientist-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f52c'; }
.emoji-woman-scientist-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f52c'; }
.emoji-man-technologist:before { content: '\1f468\200d\1f4bb'; }
.emoji-man-technologist-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f4bb'; }
.emoji-man-technologist-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f4bb'; }
.emoji-man-technologist-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f4bb'; }
.emoji-man-technologist-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f4bb'; }
.emoji-man-technologist-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f4bb'; }
.emoji-woman-technologist:before { content: '\1f469\200d\1f4bb'; }
.emoji-woman-technologist-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f4bb'; }
.emoji-woman-technologist-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f4bb'; }
.emoji-woman-technologist-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f4bb'; }
.emoji-woman-technologist-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f4bb'; }
.emoji-woman-technologist-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f4bb'; }
.emoji-man-singer:before { content: '\1f468\200d\1f3a4'; }
.emoji-man-singer-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f3a4'; }
.emoji-man-singer-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f3a4'; }
.emoji-man-singer-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f3a4'; }
.emoji-man-singer-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f3a4'; }
.emoji-man-singer-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f3a4'; }
.emoji-woman-singer:before { content: '\1f469\200d\1f3a4'; }
.emoji-woman-singer-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f3a4'; }
.emoji-woman-singer-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f3a4'; }
.emoji-woman-singer-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f3a4'; }
.emoji-woman-singer-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f3a4'; }
.emoji-woman-singer-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f3a4'; }
.emoji-man-artist:before { content: '\1f468\200d\1f3a8'; }
.emoji-man-artist-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f3a8'; }
.emoji-man-artist-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f3a8'; }
.emoji-man-artist-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f3a8'; }
.emoji-man-artist-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f3a8'; }
.emoji-man-artist-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f3a8'; }
.emoji-woman-artist:before { content: '\1f469\200d\1f3a8'; }
.emoji-woman-artist-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f3a8'; }
.emoji-woman-artist-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f3a8'; }
.emoji-woman-artist-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f3a8'; }
.emoji-woman-artist-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f3a8'; }
.emoji-woman-artist-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f3a8'; }
.emoji-man-pilot:before { content: '\1f468\200d\2708\fe0f'; }
.emoji-man-pilot-light-skin-tone:before { content: '\1f468\1f3fb\200d\2708\fe0f'; }
.emoji-man-pilot-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\2708\fe0f'; }
.emoji-man-pilot-medium-skin-tone:before { content: '\1f468\1f3fd\200d\2708\fe0f'; }
.emoji-man-pilot-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\2708\fe0f'; }
.emoji-man-pilot-dark-skin-tone:before { content: '\1f468\1f3ff\200d\2708\fe0f'; }
.emoji-woman-pilot:before { content: '\1f469\200d\2708\fe0f'; }
.emoji-woman-pilot-light-skin-tone:before { content: '\1f469\1f3fb\200d\2708\fe0f'; }
.emoji-woman-pilot-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\2708\fe0f'; }
.emoji-woman-pilot-medium-skin-tone:before { content: '\1f469\1f3fd\200d\2708\fe0f'; }
.emoji-woman-pilot-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\2708\fe0f'; }
.emoji-woman-pilot-dark-skin-tone:before { content: '\1f469\1f3ff\200d\2708\fe0f'; }
.emoji-man-astronaut:before { content: '\1f468\200d\1f680'; }
.emoji-man-astronaut-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f680'; }
.emoji-man-astronaut-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f680'; }
.emoji-man-astronaut-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f680'; }
.emoji-man-astronaut-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f680'; }
.emoji-man-astronaut-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f680'; }
.emoji-woman-astronaut:before { content: '\1f469\200d\1f680'; }
.emoji-woman-astronaut-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f680'; }
.emoji-woman-astronaut-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f680'; }
.emoji-woman-astronaut-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f680'; }
.emoji-woman-astronaut-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f680'; }
.emoji-woman-astronaut-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f680'; }
.emoji-man-firefighter:before { content: '\1f468\200d\1f692'; }
.emoji-man-firefighter-light-skin-tone:before { content: '\1f468\1f3fb\200d\1f692'; }
.emoji-man-firefighter-medium-light-skin-tone:before { content: '\1f468\1f3fc\200d\1f692'; }
.emoji-man-firefighter-medium-skin-tone:before { content: '\1f468\1f3fd\200d\1f692'; }
.emoji-man-firefighter-medium-dark-skin-tone:before { content: '\1f468\1f3fe\200d\1f692'; }
.emoji-man-firefighter-dark-skin-tone:before { content: '\1f468\1f3ff\200d\1f692'; }
.emoji-woman-firefighter:before { content: '\1f469\200d\1f692'; }
.emoji-woman-firefighter-light-skin-tone:before { content: '\1f469\1f3fb\200d\1f692'; }
.emoji-woman-firefighter-medium-light-skin-tone:before { content: '\1f469\1f3fc\200d\1f692'; }
.emoji-woman-firefighter-medium-skin-tone:before { content: '\1f469\1f3fd\200d\1f692'; }
.emoji-woman-firefighter-medium-dark-skin-tone:before { content: '\1f469\1f3fe\200d\1f692'; }
.emoji-woman-firefighter-dark-skin-tone:before { content: '\1f469\1f3ff\200d\1f692'; }
.emoji-police-officer:before { content: '\1f46e'; }
.emoji-police-officer-light-skin-tone:before { content: '\1f46e\1f3fb'; }
.emoji-police-officer-medium-light-skin-tone:before { content: '\1f46e\1f3fc'; }
.emoji-police-officer-medium-skin-tone:before { content: '\1f46e\1f3fd'; }
.emoji-police-officer-medium-dark-skin-tone:before { content: '\1f46e\1f3fe'; }
.emoji-police-officer-dark-skin-tone:before { content: '\1f46e\1f3ff'; }
.emoji-man-police-officer:before { content: '\1f46e\200d\2642\fe0f'; }
.emoji-man-police-officer-light-skin-tone:before { content: '\1f46e\1f3fb\200d\2642\fe0f'; }
.emoji-man-police-officer-medium-light-skin-tone:before { content: '\1f46e\1f3fc\200d\2642\fe0f'; }
.emoji-man-police-officer-medium-skin-tone:before { content: '\1f46e\1f3fd\200d\2642\fe0f'; }
.emoji-man-police-officer-medium-dark-skin-tone:before { content: '\1f46e\1f3fe\200d\2642\fe0f'; }
.emoji-man-police-officer-dark-skin-tone:before { content: '\1f46e\1f3ff\200d\2642\fe0f'; }
.emoji-woman-police-officer:before { content: '\1f46e\200d\2640\fe0f'; }
.emoji-woman-police-officer-light-skin-tone:before { content: '\1f46e\1f3fb\200d\2640\fe0f'; }
.emoji-woman-police-officer-medium-light-skin-tone:before { content: '\1f46e\1f3fc\200d\2640\fe0f'; }
.emoji-woman-police-officer-medium-skin-tone:before { content: '\1f46e\1f3fd\200d\2640\fe0f'; }
.emoji-woman-police-officer-medium-dark-skin-tone:before { content: '\1f46e\1f3fe\200d\2640\fe0f'; }
.emoji-woman-police-officer-dark-skin-tone:before { content: '\1f46e\1f3ff\200d\2640\fe0f'; }
.emoji-detective:before { content: '\1f575'; }
.emoji-detective-light-skin-tone:before { content: '\1f575\1f3fb'; }
.emoji-detective-medium-light-skin-tone:before { content: '\1f575\1f3fc'; }
.emoji-detective-medium-skin-tone:before { content: '\1f575\1f3fd'; }
.emoji-detective-medium-dark-skin-tone:before { content: '\1f575\1f3fe'; }
.emoji-detective-dark-skin-tone:before { content: '\1f575\1f3ff'; }
.emoji-man-detective:before { content: '\1f575\fe0f\200d\2642\fe0f'; }
.emoji-man-detective-light-skin-tone:before { content: '\1f575\1f3fb\200d\2642\fe0f'; }
.emoji-man-detective-medium-light-skin-tone:before { content: '\1f575\1f3fc\200d\2642\fe0f'; }
.emoji-man-detective-medium-skin-tone:before { content: '\1f575\1f3fd\200d\2642\fe0f'; }
.emoji-man-detective-medium-dark-skin-tone:before { content: '\1f575\1f3fe\200d\2642\fe0f'; }
.emoji-man-detective-dark-skin-tone:before { content: '\1f575\1f3ff\200d\2642\fe0f'; }
.emoji-woman-detective:before { content: '\1f575\fe0f\200d\2640\fe0f'; }
.emoji-woman-detective-light-skin-tone:before { content: '\1f575\1f3fb\200d\2640\fe0f'; }
.emoji-woman-detective-medium-light-skin-tone:before { content: '\1f575\1f3fc\200d\2640\fe0f'; }
.emoji-woman-detective-medium-skin-tone:before { content: '\1f575\1f3fd\200d\2640\fe0f'; }
.emoji-woman-detective-medium-dark-skin-tone:before { content: '\1f575\1f3fe\200d\2640\fe0f'; }
.emoji-woman-detective-dark-skin-tone:before { content: '\1f575\1f3ff\200d\2640\fe0f'; }
.emoji-guard:before { content: '\1f482'; }
.emoji-guard-light-skin-tone:before { content: '\1f482\1f3fb'; }
.emoji-guard-medium-light-skin-tone:before { content: '\1f482\1f3fc'; }
.emoji-guard-medium-skin-tone:before { content: '\1f482\1f3fd'; }
.emoji-guard-medium-dark-skin-tone:before { content: '\1f482\1f3fe'; }
.emoji-guard-dark-skin-tone:before { content: '\1f482\1f3ff'; }
.emoji-man-guard:before { content: '\1f482\200d\2642\fe0f'; }
.emoji-man-guard-light-skin-tone:before { content: '\1f482\1f3fb\200d\2642\fe0f'; }
.emoji-man-guard-medium-light-skin-tone:before { content: '\1f482\1f3fc\200d\2642\fe0f'; }
.emoji-man-guard-medium-skin-tone:before { content: '\1f482\1f3fd\200d\2642\fe0f'; }
.emoji-man-guard-medium-dark-skin-tone:before { content: '\1f482\1f3fe\200d\2642\fe0f'; }
.emoji-man-guard-dark-skin-tone:before { content: '\1f482\1f3ff\200d\2642\fe0f'; }
.emoji-woman-guard:before { content: '\1f482\200d\2640\fe0f'; }
.emoji-woman-guard-light-skin-tone:before { content: '\1f482\1f3fb\200d\2640\fe0f'; }
.emoji-woman-guard-medium-light-skin-tone:before { content: '\1f482\1f3fc\200d\2640\fe0f'; }
.emoji-woman-guard-medium-skin-tone:before { content: '\1f482\1f3fd\200d\2640\fe0f'; }
.emoji-woman-guard-medium-dark-skin-tone:before { content: '\1f482\1f3fe\200d\2640\fe0f'; }
.emoji-woman-guard-dark-skin-tone:before { content: '\1f482\1f3ff\200d\2640\fe0f'; }
.emoji-construction-worker:before { content: '\1f477'; }
.emoji-construction-worker-light-skin-tone:before { content: '\1f477\1f3fb'; }
.emoji-construction-worker-medium-light-skin-tone:before { content: '\1f477\1f3fc'; }
.emoji-construction-worker-medium-skin-tone:before { content: '\1f477\1f3fd'; }
.emoji-construction-worker-medium-dark-skin-tone:before { content: '\1f477\1f3fe'; }
.emoji-construction-worker-dark-skin-tone:before { content: '\1f477\1f3ff'; }
.emoji-man-construction-worker:before { content: '\1f477\200d\2642\fe0f'; }
.emoji-man-construction-worker-light-skin-tone:before { content: '\1f477\1f3fb\200d\2642\fe0f'; }
.emoji-man-construction-worker-medium-light-skin-tone:before { content: '\1f477\1f3fc\200d\2642\fe0f'; }
.emoji-man-construction-worker-medium-skin-tone:before { content: '\1f477\1f3fd\200d\2642\fe0f'; }
.emoji-man-construction-worker-medium-dark-skin-tone:before { content: '\1f477\1f3fe\200d\2642\fe0f'; }
.emoji-man-construction-worker-dark-skin-tone:before { content: '\1f477\1f3ff\200d\2642\fe0f'; }
.emoji-woman-construction-worker:before { content: '\1f477\200d\2640\fe0f'; }
.emoji-woman-construction-worker-light-skin-tone:before { content: '\1f477\1f3fb\200d\2640\fe0f'; }
.emoji-woman-construction-worker-medium-light-skin-tone:before { content: '\1f477\1f3fc\200d\2640\fe0f'; }
.emoji-woman-construction-worker-medium-skin-tone:before { content: '\1f477\1f3fd\200d\2640\fe0f'; }
.emoji-woman-construction-worker-medium-dark-skin-tone:before { content: '\1f477\1f3fe\200d\2640\fe0f'; }
.emoji-woman-construction-worker-dark-skin-tone:before { content: '\1f477\1f3ff\200d\2640\fe0f'; }
.emoji-prince:before { content: '\1f934'; }
.emoji-prince-light-skin-tone:before { content: '\1f934\1f3fb'; }
.emoji-prince-medium-light-skin-tone:before { content: '\1f934\1f3fc'; }
.emoji-prince-medium-skin-tone:before { content: '\1f934\1f3fd'; }
.emoji-prince-medium-dark-skin-tone:before { content: '\1f934\1f3fe'; }
.emoji-prince-dark-skin-tone:before { content: '\1f934\1f3ff'; }
.emoji-princess:before { content: '\1f478'; }
.emoji-princess-light-skin-tone:before { content: '\1f478\1f3fb'; }
.emoji-princess-medium-light-skin-tone:before { content: '\1f478\1f3fc'; }
.emoji-princess-medium-skin-tone:before { content: '\1f478\1f3fd'; }
.emoji-princess-medium-dark-skin-tone:before { content: '\1f478\1f3fe'; }
.emoji-princess-dark-skin-tone:before { content: '\1f478\1f3ff'; }
.emoji-person-wearing-turban:before { content: '\1f473'; }
.emoji-person-wearing-turban-light-skin-tone:before { content: '\1f473\1f3fb'; }
.emoji-person-wearing-turban-medium-light-skin-tone:before { content: '\1f473\1f3fc'; }
.emoji-person-wearing-turban-medium-skin-tone:before { content: '\1f473\1f3fd'; }
.emoji-person-wearing-turban-medium-dark-skin-tone:before { content: '\1f473\1f3fe'; }
.emoji-person-wearing-turban-dark-skin-tone:before { content: '\1f473\1f3ff'; }
.emoji-man-wearing-turban:before { content: '\1f473\200d\2642\fe0f'; }
.emoji-man-wearing-turban-light-skin-tone:before { content: '\1f473\1f3fb\200d\2642\fe0f'; }
.emoji-man-wearing-turban-medium-light-skin-tone:before { content: '\1f473\1f3fc\200d\2642\fe0f'; }
.emoji-man-wearing-turban-medium-skin-tone:before { content: '\1f473\1f3fd\200d\2642\fe0f'; }
.emoji-man-wearing-turban-medium-dark-skin-tone:before { content: '\1f473\1f3fe\200d\2642\fe0f'; }
.emoji-man-wearing-turban-dark-skin-tone:before { content: '\1f473\1f3ff\200d\2642\fe0f'; }
.emoji-woman-wearing-turban:before { content: '\1f473\200d\2640\fe0f'; }
.emoji-woman-wearing-turban-light-skin-tone:before { content: '\1f473\1f3fb\200d\2640\fe0f'; }
.emoji-woman-wearing-turban-medium-light-skin-tone:before { content: '\1f473\1f3fc\200d\2640\fe0f'; }
.emoji-woman-wearing-turban-medium-skin-tone:before { content: '\1f473\1f3fd\200d\2640\fe0f'; }
.emoji-woman-wearing-turban-medium-dark-skin-tone:before { content: '\1f473\1f3fe\200d\2640\fe0f'; }
.emoji-woman-wearing-turban-dark-skin-tone:before { content: '\1f473\1f3ff\200d\2640\fe0f'; }
.emoji-man-with-chinese-cap:before { content: '\1f472'; }
.emoji-man-with-chinese-cap-light-skin-tone:before { content: '\1f472\1f3fb'; }
.emoji-man-with-chinese-cap-medium-light-skin-tone:before { content: '\1f472\1f3fc'; }
.emoji-man-with-chinese-cap-medium-skin-tone:before { content: '\1f472\1f3fd'; }
.emoji-man-with-chinese-cap-medium-dark-skin-tone:before { content: '\1f472\1f3fe'; }
.emoji-man-with-chinese-cap-dark-skin-tone:before { content: '\1f472\1f3ff'; }
.emoji-woman-with-headscarf:before { content: '\1f9d5'; }
.emoji-woman-with-headscarf-light-skin-tone:before { content: '\1f9d5\1f3fb'; }
.emoji-woman-with-headscarf-medium-light-skin-tone:before { content: '\1f9d5\1f3fc'; }
.emoji-woman-with-headscarf-medium-skin-tone:before { content: '\1f9d5\1f3fd'; }
.emoji-woman-with-headscarf-medium-dark-skin-tone:before { content: '\1f9d5\1f3fe'; }
.emoji-woman-with-headscarf-dark-skin-tone:before { content: '\1f9d5\1f3ff'; }
.emoji-bearded-person:before { content: '\1f9d4'; }
.emoji-bearded-person-light-skin-tone:before { content: '\1f9d4\1f3fb'; }
.emoji-bearded-person-medium-light-skin-tone:before { content: '\1f9d4\1f3fc'; }
.emoji-bearded-person-medium-skin-tone:before { content: '\1f9d4\1f3fd'; }
.emoji-bearded-person-medium-dark-skin-tone:before { content: '\1f9d4\1f3fe'; }
.emoji-bearded-person-dark-skin-tone:before { content: '\1f9d4\1f3ff'; }
.emoji-blond-haired-person:before { content: '\1f471'; }
.emoji-blond-haired-person-light-skin-tone:before { content: '\1f471\1f3fb'; }
.emoji-blond-haired-person-medium-light-skin-tone:before { content: '\1f471\1f3fc'; }
.emoji-blond-haired-person-medium-skin-tone:before { content: '\1f471\1f3fd'; }
.emoji-blond-haired-person-medium-dark-skin-tone:before { content: '\1f471\1f3fe'; }
.emoji-blond-haired-person-dark-skin-tone:before { content: '\1f471\1f3ff'; }
.emoji-blond-haired-man:before { content: '\1f471\200d\2642\fe0f'; }
.emoji-blond-haired-man-light-skin-tone:before { content: '\1f471\1f3fb\200d\2642\fe0f'; }
.emoji-blond-haired-man-medium-light-skin-tone:before { content: '\1f471\1f3fc\200d\2642\fe0f'; }
.emoji-blond-haired-man-medium-skin-tone:before { content: '\1f471\1f3fd\200d\2642\fe0f'; }
.emoji-blond-haired-man-medium-dark-skin-tone:before { content: '\1f471\1f3fe\200d\2642\fe0f'; }
.emoji-blond-haired-man-dark-skin-tone:before { content: '\1f471\1f3ff\200d\2642\fe0f'; }
.emoji-blond-haired-woman:before { content: '\1f471\200d\2640\fe0f'; }
.emoji-blond-haired-woman-light-skin-tone:before { content: '\1f471\1f3fb\200d\2640\fe0f'; }
.emoji-blond-haired-woman-medium-light-skin-tone:before { content: '\1f471\1f3fc\200d\2640\fe0f'; }
.emoji-blond-haired-woman-medium-skin-tone:before { content: '\1f471\1f3fd\200d\2640\fe0f'; }
.emoji-blond-haired-woman-medium-dark-skin-tone:before { content: '\1f471\1f3fe\200d\2640\fe0f'; }
.emoji-blond-haired-woman-dark-skin-tone:before { content: '\1f471\1f3ff\200d\2640\fe0f'; }
.emoji-man-in-tuxedo:before { content: '\1f935'; }
.emoji-man-in-tuxedo-light-skin-tone:before { content: '\1f935\1f3fb'; }
.emoji-man-in-tuxedo-medium-light-skin-tone:before { content: '\1f935\1f3fc'; }
.emoji-man-in-tuxedo-medium-skin-tone:before { content: '\1f935\1f3fd'; }
.emoji-man-in-tuxedo-medium-dark-skin-tone:before { content: '\1f935\1f3fe'; }
.emoji-man-in-tuxedo-dark-skin-tone:before { content: '\1f935\1f3ff'; }
.emoji-bride-with-veil:before { content: '\1f470'; }
.emoji-bride-with-veil-light-skin-tone:before { content: '\1f470\1f3fb'; }
.emoji-bride-with-veil-medium-light-skin-tone:before { content: '\1f470\1f3fc'; }
.emoji-bride-with-veil-medium-skin-tone:before { content: '\1f470\1f3fd'; }
.emoji-bride-with-veil-medium-dark-skin-tone:before { content: '\1f470\1f3fe'; }
.emoji-bride-with-veil-dark-skin-tone:before { content: '\1f470\1f3ff'; }
.emoji-pregnant-woman:before { content: '\1f930'; }
.emoji-pregnant-woman-light-skin-tone:before { content: '\1f930\1f3fb'; }
.emoji-pregnant-woman-medium-light-skin-tone:before { content: '\1f930\1f3fc'; }
.emoji-pregnant-woman-medium-skin-tone:before { content: '\1f930\1f3fd'; }
.emoji-pregnant-woman-medium-dark-skin-tone:before { content: '\1f930\1f3fe'; }
.emoji-pregnant-woman-dark-skin-tone:before { content: '\1f930\1f3ff'; }
.emoji-breast-feeding:before { content: '\1f931'; }
.emoji-breast-feeding-light-skin-tone:before { content: '\1f931\1f3fb'; }
.emoji-breast-feeding-medium-light-skin-tone:before { content: '\1f931\1f3fc'; }
.emoji-breast-feeding-medium-skin-tone:before { content: '\1f931\1f3fd'; }
.emoji-breast-feeding-medium-dark-skin-tone:before { content: '\1f931\1f3fe'; }
.emoji-breast-feeding-dark-skin-tone:before { content: '\1f931\1f3ff'; }
