.emoji-baby-angel:before { content: '\1f47c'; }
.emoji-baby-angel-light-skin-tone:before { content: '\1f47c\1f3fb'; }
.emoji-baby-angel-medium-light-skin-tone:before { content: '\1f47c\1f3fc'; }
.emoji-baby-angel-medium-skin-tone:before { content: '\1f47c\1f3fd'; }
.emoji-baby-angel-medium-dark-skin-tone:before { content: '\1f47c\1f3fe'; }
.emoji-baby-angel-dark-skin-tone:before { content: '\1f47c\1f3ff'; }
.emoji-santa-claus:before { content: '\1f385'; }
.emoji-santa-claus-light-skin-tone:before { content: '\1f385\1f3fb'; }
.emoji-santa-claus-medium-light-skin-tone:before { content: '\1f385\1f3fc'; }
.emoji-santa-claus-medium-skin-tone:before { content: '\1f385\1f3fd'; }
.emoji-santa-claus-medium-dark-skin-tone:before { content: '\1f385\1f3fe'; }
.emoji-santa-claus-dark-skin-tone:before { content: '\1f385\1f3ff'; }
.emoji-mrs-claus:before { content: '\1f936'; }
.emoji-mrs-claus-light-skin-tone:before { content: '\1f936\1f3fb'; }
.emoji-mrs-claus-medium-light-skin-tone:before { content: '\1f936\1f3fc'; }
.emoji-mrs-claus-medium-skin-tone:before { content: '\1f936\1f3fd'; }
.emoji-mrs-claus-medium-dark-skin-tone:before { content: '\1f936\1f3fe'; }
.emoji-mrs-claus-dark-skin-tone:before { content: '\1f936\1f3ff'; }
.emoji-mage:before { content: '\1f9d9'; }
.emoji-mage-light-skin-tone:before { content: '\1f9d9\1f3fb'; }
.emoji-mage-medium-light-skin-tone:before { content: '\1f9d9\1f3fc'; }
.emoji-mage-medium-skin-tone:before { content: '\1f9d9\1f3fd'; }
.emoji-mage-medium-dark-skin-tone:before { content: '\1f9d9\1f3fe'; }
.emoji-mage-dark-skin-tone:before { content: '\1f9d9\1f3ff'; }
.emoji-woman-mage:before { content: '\1f9d9\200d\2640\fe0f'; }
.emoji-woman-mage-light-skin-tone:before { content: '\1f9d9\1f3fb\200d\2640\fe0f'; }
.emoji-woman-mage-medium-light-skin-tone:before { content: '\1f9d9\1f3fc\200d\2640\fe0f'; }
.emoji-woman-mage-medium-skin-tone:before { content: '\1f9d9\1f3fd\200d\2640\fe0f'; }
.emoji-woman-mage-medium-dark-skin-tone:before { content: '\1f9d9\1f3fe\200d\2640\fe0f'; }
.emoji-woman-mage-dark-skin-tone:before { content: '\1f9d9\1f3ff\200d\2640\fe0f'; }
.emoji-man-mage:before { content: '\1f9d9\200d\2642\fe0f'; }
.emoji-man-mage-light-skin-tone:before { content: '\1f9d9\1f3fb\200d\2642\fe0f'; }
.emoji-man-mage-medium-light-skin-tone:before { content: '\1f9d9\1f3fc\200d\2642\fe0f'; }
.emoji-man-mage-medium-skin-tone:before { content: '\1f9d9\1f3fd\200d\2642\fe0f'; }
.emoji-man-mage-medium-dark-skin-tone:before { content: '\1f9d9\1f3fe\200d\2642\fe0f'; }
.emoji-man-mage-dark-skin-tone:before { content: '\1f9d9\1f3ff\200d\2642\fe0f'; }
.emoji-fairy:before { content: '\1f9da'; }
.emoji-fairy-light-skin-tone:before { content: '\1f9da\1f3fb'; }
.emoji-fairy-medium-light-skin-tone:before { content: '\1f9da\1f3fc'; }
.emoji-fairy-medium-skin-tone:before { content: '\1f9da\1f3fd'; }
.emoji-fairy-medium-dark-skin-tone:before { content: '\1f9da\1f3fe'; }
.emoji-fairy-dark-skin-tone:before { content: '\1f9da\1f3ff'; }
.emoji-woman-fairy:before { content: '\1f9da\200d\2640\fe0f'; }
.emoji-woman-fairy-light-skin-tone:before { content: '\1f9da\1f3fb\200d\2640\fe0f'; }
.emoji-woman-fairy-medium-light-skin-tone:before { content: '\1f9da\1f3fc\200d\2640\fe0f'; }
.emoji-woman-fairy-medium-skin-tone:before { content: '\1f9da\1f3fd\200d\2640\fe0f'; }
.emoji-woman-fairy-medium-dark-skin-tone:before { content: '\1f9da\1f3fe\200d\2640\fe0f'; }
.emoji-woman-fairy-dark-skin-tone:before { content: '\1f9da\1f3ff\200d\2640\fe0f'; }
.emoji-man-fairy:before { content: '\1f9da\200d\2642\fe0f'; }
.emoji-man-fairy-light-skin-tone:before { content: '\1f9da\1f3fb\200d\2642\fe0f'; }
.emoji-man-fairy-medium-light-skin-tone:before { content: '\1f9da\1f3fc\200d\2642\fe0f'; }
.emoji-man-fairy-medium-skin-tone:before { content: '\1f9da\1f3fd\200d\2642\fe0f'; }
.emoji-man-fairy-medium-dark-skin-tone:before { content: '\1f9da\1f3fe\200d\2642\fe0f'; }
.emoji-man-fairy-dark-skin-tone:before { content: '\1f9da\1f3ff\200d\2642\fe0f'; }
.emoji-vampire:before { content: '\1f9db'; }
.emoji-vampire-light-skin-tone:before { content: '\1f9db\1f3fb'; }
.emoji-vampire-medium-light-skin-tone:before { content: '\1f9db\1f3fc'; }
.emoji-vampire-medium-skin-tone:before { content: '\1f9db\1f3fd'; }
.emoji-vampire-medium-dark-skin-tone:before { content: '\1f9db\1f3fe'; }
.emoji-vampire-dark-skin-tone:before { content: '\1f9db\1f3ff'; }
.emoji-woman-vampire:before { content: '\1f9db\200d\2640\fe0f'; }
.emoji-woman-vampire-light-skin-tone:before { content: '\1f9db\1f3fb\200d\2640\fe0f'; }
.emoji-woman-vampire-medium-light-skin-tone:before { content: '\1f9db\1f3fc\200d\2640\fe0f'; }
.emoji-woman-vampire-medium-skin-tone:before { content: '\1f9db\1f3fd\200d\2640\fe0f'; }
.emoji-woman-vampire-medium-dark-skin-tone:before { content: '\1f9db\1f3fe\200d\2640\fe0f'; }
.emoji-woman-vampire-dark-skin-tone:before { content: '\1f9db\1f3ff\200d\2640\fe0f'; }
.emoji-man-vampire:before { content: '\1f9db\200d\2642\fe0f'; }
.emoji-man-vampire-light-skin-tone:before { content: '\1f9db\1f3fb\200d\2642\fe0f'; }
.emoji-man-vampire-medium-light-skin-tone:before { content: '\1f9db\1f3fc\200d\2642\fe0f'; }
.emoji-man-vampire-medium-skin-tone:before { content: '\1f9db\1f3fd\200d\2642\fe0f'; }
.emoji-man-vampire-medium-dark-skin-tone:before { content: '\1f9db\1f3fe\200d\2642\fe0f'; }
.emoji-man-vampire-dark-skin-tone:before { content: '\1f9db\1f3ff\200d\2642\fe0f'; }
.emoji-merperson:before { content: '\1f9dc'; }
.emoji-merperson-light-skin-tone:before { content: '\1f9dc\1f3fb'; }
.emoji-merperson-medium-light-skin-tone:before { content: '\1f9dc\1f3fc'; }
.emoji-merperson-medium-skin-tone:before { content: '\1f9dc\1f3fd'; }
.emoji-merperson-medium-dark-skin-tone:before { content: '\1f9dc\1f3fe'; }
.emoji-merperson-dark-skin-tone:before { content: '\1f9dc\1f3ff'; }
.emoji-mermaid:before { content: '\1f9dc\200d\2640\fe0f'; }
.emoji-mermaid-light-skin-tone:before { content: '\1f9dc\1f3fb\200d\2640\fe0f'; }
.emoji-mermaid-medium-light-skin-tone:before { content: '\1f9dc\1f3fc\200d\2640\fe0f'; }
.emoji-mermaid-medium-skin-tone:before { content: '\1f9dc\1f3fd\200d\2640\fe0f'; }
.emoji-mermaid-medium-dark-skin-tone:before { content: '\1f9dc\1f3fe\200d\2640\fe0f'; }
.emoji-mermaid-dark-skin-tone:before { content: '\1f9dc\1f3ff\200d\2640\fe0f'; }
.emoji-merman:before { content: '\1f9dc\200d\2642\fe0f'; }
.emoji-merman-light-skin-tone:before { content: '\1f9dc\1f3fb\200d\2642\fe0f'; }
.emoji-merman-medium-light-skin-tone:before { content: '\1f9dc\1f3fc\200d\2642\fe0f'; }
.emoji-merman-medium-skin-tone:before { content: '\1f9dc\1f3fd\200d\2642\fe0f'; }
.emoji-merman-medium-dark-skin-tone:before { content: '\1f9dc\1f3fe\200d\2642\fe0f'; }
.emoji-merman-dark-skin-tone:before { content: '\1f9dc\1f3ff\200d\2642\fe0f'; }
.emoji-elf:before { content: '\1f9dd'; }
.emoji-elf-light-skin-tone:before { content: '\1f9dd\1f3fb'; }
.emoji-elf-medium-light-skin-tone:before { content: '\1f9dd\1f3fc'; }
.emoji-elf-medium-skin-tone:before { content: '\1f9dd\1f3fd'; }
.emoji-elf-medium-dark-skin-tone:before { content: '\1f9dd\1f3fe'; }
.emoji-elf-dark-skin-tone:before { content: '\1f9dd\1f3ff'; }
.emoji-woman-elf:before { content: '\1f9dd\200d\2640\fe0f'; }
.emoji-woman-elf-light-skin-tone:before { content: '\1f9dd\1f3fb\200d\2640\fe0f'; }
.emoji-woman-elf-medium-light-skin-tone:before { content: '\1f9dd\1f3fc\200d\2640\fe0f'; }
.emoji-woman-elf-medium-skin-tone:before { content: '\1f9dd\1f3fd\200d\2640\fe0f'; }
.emoji-woman-elf-medium-dark-skin-tone:before { content: '\1f9dd\1f3fe\200d\2640\fe0f'; }
.emoji-woman-elf-dark-skin-tone:before { content: '\1f9dd\1f3ff\200d\2640\fe0f'; }
.emoji-man-elf:before { content: '\1f9dd\200d\2642\fe0f'; }
.emoji-man-elf-light-skin-tone:before { content: '\1f9dd\1f3fb\200d\2642\fe0f'; }
.emoji-man-elf-medium-light-skin-tone:before { content: '\1f9dd\1f3fc\200d\2642\fe0f'; }
.emoji-man-elf-medium-skin-tone:before { content: '\1f9dd\1f3fd\200d\2642\fe0f'; }
.emoji-man-elf-medium-dark-skin-tone:before { content: '\1f9dd\1f3fe\200d\2642\fe0f'; }
.emoji-man-elf-dark-skin-tone:before { content: '\1f9dd\1f3ff\200d\2642\fe0f'; }
.emoji-genie:before { content: '\1f9de'; }
.emoji-woman-genie:before { content: '\1f9de\200d\2640\fe0f'; }
.emoji-man-genie:before { content: '\1f9de\200d\2642\fe0f'; }
.emoji-zombie:before { content: '\1f9df'; }
.emoji-woman-zombie:before { content: '\1f9df\200d\2640\fe0f'; }
.emoji-man-zombie:before { content: '\1f9df\200d\2642\fe0f'; }
