.emoji-light-skin-tone:before { content: '\1f3fb'; }
.emoji-medium-light-skin-tone:before { content: '\1f3fc'; }
.emoji-medium-skin-tone:before { content: '\1f3fd'; }
.emoji-medium-dark-skin-tone:before { content: '\1f3fe'; }
.emoji-dark-skin-tone:before { content: '\1f3ff'; }
