.emoji-chopsticks:before { content: '\1f962'; }
.emoji-fork-and-knife-with-plate:before { content: '\1f37d'; }
.emoji-fork-and-knife:before { content: '\1f374'; }
.emoji-spoon:before { content: '\1f944'; }
.emoji-kitchen-knife:before { content: '\1f52a'; }
.emoji-amphora:before { content: '\1f3fa'; }
