.emoji-baby-bottle:before { content: '\1f37c'; }
.emoji-glass-of-milk:before { content: '\1f95b'; }
.emoji-hot-beverage:before { content: '\2615'; }
.emoji-teacup-without-handle:before { content: '\1f375'; }
.emoji-sake:before { content: '\1f376'; }
.emoji-bottle-with-popping-cork:before { content: '\1f37e'; }
.emoji-wine-glass:before { content: '\1f377'; }
.emoji-cocktail-glass:before { content: '\1f378'; }
.emoji-tropical-drink:before { content: '\1f379'; }
.emoji-beer-mug:before { content: '\1f37a'; }
.emoji-clinking-beer-mugs:before { content: '\1f37b'; }
.emoji-clinking-glasses:before { content: '\1f942'; }
.emoji-tumbler-glass:before { content: '\1f943'; }
