.emoji-bread:before { content: '\1f35e'; }
.emoji-croissant:before { content: '\1f950'; }
.emoji-baguette-bread:before { content: '\1f956'; }
.emoji-pancakes:before { content: '\1f95e'; }
.emoji-cheese-wedge:before { content: '\1f9c0'; }
.emoji-meat-on-bone:before { content: '\1f356'; }
.emoji-poultry-leg:before { content: '\1f357'; }
.emoji-bacon:before { content: '\1f953'; }
.emoji-hamburger:before { content: '\1f354'; }
.emoji-french-fries:before { content: '\1f35f'; }
.emoji-pizza:before { content: '\1f355'; }
.emoji-hot-dog:before { content: '\1f32d'; }
.emoji-taco:before { content: '\1f32e'; }
.emoji-burrito:before { content: '\1f32f'; }
.emoji-stuffed-flatbread:before { content: '\1f959'; }
.emoji-egg:before { content: '\1f95a'; }
.emoji-cooking:before { content: '\1f373'; }
.emoji-shallow-pan-of-food:before { content: '\1f958'; }
.emoji-pot-of-food:before { content: '\1f372'; }
.emoji-green-salad:before { content: '\1f957'; }
.emoji-popcorn:before { content: '\1f37f'; }
