.emoji-bento-box:before { content: '\1f371'; }
.emoji-rice-cracker:before { content: '\1f358'; }
.emoji-rice-ball:before { content: '\1f359'; }
.emoji-cooked-rice:before { content: '\1f35a'; }
.emoji-curry-rice:before { content: '\1f35b'; }
.emoji-steaming-bowl:before { content: '\1f35c'; }
.emoji-spaghetti:before { content: '\1f35d'; }
.emoji-roasted-sweet-potato:before { content: '\1f360'; }
.emoji-oden:before { content: '\1f362'; }
.emoji-sushi:before { content: '\1f363'; }
.emoji-fried-shrimp:before { content: '\1f364'; }
.emoji-fish-cake-with-swirl:before { content: '\1f365'; }
.emoji-dango:before { content: '\1f361'; }
