.emoji-grapes:before { content: '\1f347'; }
.emoji-melon:before { content: '\1f348'; }
.emoji-watermelon:before { content: '\1f349'; }
.emoji-tangerine:before { content: '\1f34a'; }
.emoji-lemon:before { content: '\1f34b'; }
.emoji-banana:before { content: '\1f34c'; }
.emoji-pineapple:before { content: '\1f34d'; }
.emoji-red-apple:before { content: '\1f34e'; }
.emoji-green-apple:before { content: '\1f34f'; }
.emoji-pear:before { content: '\1f350'; }
.emoji-peach:before { content: '\1f351'; }
.emoji-cherries:before { content: '\1f352'; }
.emoji-strawberry:before { content: '\1f353'; }
.emoji-kiwi-fruit:before { content: '\1f95d'; }
.emoji-tomato:before { content: '\1f345'; }
.emoji-coconut:before { content: '\1f965'; }
