.emoji-soft-ice-cream:before { content: '\1f366'; }
.emoji-shaved-ice:before { content: '\1f367'; }
.emoji-ice-cream:before { content: '\1f368'; }
.emoji-doughnut:before { content: '\1f369'; }
.emoji-cookie:before { content: '\1f36a'; }
.emoji-birthday-cake:before { content: '\1f382'; }
.emoji-shortcake:before { content: '\1f370'; }
.emoji-pie:before { content: '\1f967'; }
.emoji-chocolate-bar:before { content: '\1f36b'; }
.emoji-candy:before { content: '\1f36c'; }
.emoji-lollipop:before { content: '\1f36d'; }
.emoji-custard:before { content: '\1f36e'; }
.emoji-honey-pot:before { content: '\1f36f'; }
