.emoji-ascension-island:before { content: '\1f1e6\1f1e8'; }
.emoji-andorra:before { content: '\1f1e6\1f1e9'; }
.emoji-united-arab-emirates:before { content: '\1f1e6\1f1ea'; }
.emoji-afghanistan:before { content: '\1f1e6\1f1eb'; }
.emoji-antigua-barbuda:before { content: '\1f1e6\1f1ec'; }
.emoji-anguilla:before { content: '\1f1e6\1f1ee'; }
.emoji-albania:before { content: '\1f1e6\1f1f1'; }
.emoji-armenia:before { content: '\1f1e6\1f1f2'; }
.emoji-angola:before { content: '\1f1e6\1f1f4'; }
.emoji-antarctica:before { content: '\1f1e6\1f1f6'; }
.emoji-argentina:before { content: '\1f1e6\1f1f7'; }
.emoji-american-samoa:before { content: '\1f1e6\1f1f8'; }
.emoji-austria:before { content: '\1f1e6\1f1f9'; }
.emoji-australia:before { content: '\1f1e6\1f1fa'; }
.emoji-aruba:before { content: '\1f1e6\1f1fc'; }
.emoji-aland-islands:before { content: '\1f1e6\1f1fd'; }
.emoji-azerbaijan:before { content: '\1f1e6\1f1ff'; }
.emoji-bosnia-herzegovina:before { content: '\1f1e7\1f1e6'; }
.emoji-barbados:before { content: '\1f1e7\1f1e7'; }
.emoji-bangladesh:before { content: '\1f1e7\1f1e9'; }
.emoji-belgium:before { content: '\1f1e7\1f1ea'; }
.emoji-burkina-faso:before { content: '\1f1e7\1f1eb'; }
.emoji-bulgaria:before { content: '\1f1e7\1f1ec'; }
.emoji-bahrain:before { content: '\1f1e7\1f1ed'; }
.emoji-burundi:before { content: '\1f1e7\1f1ee'; }
.emoji-benin:before { content: '\1f1e7\1f1ef'; }
.emoji-st-barthelemy:before { content: '\1f1e7\1f1f1'; }
.emoji-bermuda:before { content: '\1f1e7\1f1f2'; }
.emoji-brunei:before { content: '\1f1e7\1f1f3'; }
.emoji-bolivia:before { content: '\1f1e7\1f1f4'; }
.emoji-caribbean-netherlands:before { content: '\1f1e7\1f1f6'; }
.emoji-brazil:before { content: '\1f1e7\1f1f7'; }
.emoji-bahamas:before { content: '\1f1e7\1f1f8'; }
.emoji-bhutan:before { content: '\1f1e7\1f1f9'; }
.emoji-bouvet-island:before { content: '\1f1e7\1f1fb'; }
.emoji-botswana:before { content: '\1f1e7\1f1fc'; }
.emoji-belarus:before { content: '\1f1e7\1f1fe'; }
.emoji-belize:before { content: '\1f1e7\1f1ff'; }
.emoji-canada:before { content: '\1f1e8\1f1e6'; }
.emoji-cocos-keeling-islands:before { content: '\1f1e8\1f1e8'; }
.emoji-congo-kinshasa:before { content: '\1f1e8\1f1e9'; }
.emoji-central-african-republic:before { content: '\1f1e8\1f1eb'; }
.emoji-congo-brazzaville:before { content: '\1f1e8\1f1ec'; }
.emoji-switzerland:before { content: '\1f1e8\1f1ed'; }
.emoji-cote-divoire:before { content: '\1f1e8\1f1ee'; }
.emoji-cook-islands:before { content: '\1f1e8\1f1f0'; }
.emoji-chile:before { content: '\1f1e8\1f1f1'; }
.emoji-cameroon:before { content: '\1f1e8\1f1f2'; }
.emoji-china:before { content: '\1f1e8\1f1f3'; }
.emoji-colombia:before { content: '\1f1e8\1f1f4'; }
.emoji-clipperton-island:before { content: '\1f1e8\1f1f5'; }
.emoji-costa-rica:before { content: '\1f1e8\1f1f7'; }
.emoji-cuba:before { content: '\1f1e8\1f1fa'; }
.emoji-cape-verde:before { content: '\1f1e8\1f1fb'; }
.emoji-curacao:before { content: '\1f1e8\1f1fc'; }
.emoji-christmas-island:before { content: '\1f1e8\1f1fd'; }
.emoji-cyprus:before { content: '\1f1e8\1f1fe'; }
.emoji-czechia:before { content: '\1f1e8\1f1ff'; }
.emoji-germany:before { content: '\1f1e9\1f1ea'; }
.emoji-diego-garcia:before { content: '\1f1e9\1f1ec'; }
.emoji-djibouti:before { content: '\1f1e9\1f1ef'; }
.emoji-denmark:before { content: '\1f1e9\1f1f0'; }
.emoji-dominica:before { content: '\1f1e9\1f1f2'; }
.emoji-dominican-republic:before { content: '\1f1e9\1f1f4'; }
.emoji-algeria:before { content: '\1f1e9\1f1ff'; }
.emoji-ceuta-melilla:before { content: '\1f1ea\1f1e6'; }
.emoji-ecuador:before { content: '\1f1ea\1f1e8'; }
.emoji-estonia:before { content: '\1f1ea\1f1ea'; }
.emoji-egypt:before { content: '\1f1ea\1f1ec'; }
.emoji-western-sahara:before { content: '\1f1ea\1f1ed'; }
.emoji-eritrea:before { content: '\1f1ea\1f1f7'; }
.emoji-spain:before { content: '\1f1ea\1f1f8'; }
.emoji-ethiopia:before { content: '\1f1ea\1f1f9'; }
.emoji-european-union:before { content: '\1f1ea\1f1fa'; }
.emoji-finland:before { content: '\1f1eb\1f1ee'; }
.emoji-fiji:before { content: '\1f1eb\1f1ef'; }
.emoji-falkland-islands:before { content: '\1f1eb\1f1f0'; }
.emoji-micronesia:before { content: '\1f1eb\1f1f2'; }
.emoji-faroe-islands:before { content: '\1f1eb\1f1f4'; }
.emoji-france:before { content: '\1f1eb\1f1f7'; }
.emoji-gabon:before { content: '\1f1ec\1f1e6'; }
.emoji-united-kingdom:before { content: '\1f1ec\1f1e7'; }
.emoji-grenada:before { content: '\1f1ec\1f1e9'; }
.emoji-georgia:before { content: '\1f1ec\1f1ea'; }
.emoji-french-guiana:before { content: '\1f1ec\1f1eb'; }
.emoji-guernsey:before { content: '\1f1ec\1f1ec'; }
.emoji-ghana:before { content: '\1f1ec\1f1ed'; }
.emoji-gibraltar:before { content: '\1f1ec\1f1ee'; }
.emoji-greenland:before { content: '\1f1ec\1f1f1'; }
.emoji-gambia:before { content: '\1f1ec\1f1f2'; }
.emoji-guinea:before { content: '\1f1ec\1f1f3'; }
.emoji-guadeloupe:before { content: '\1f1ec\1f1f5'; }
.emoji-equatorial-guinea:before { content: '\1f1ec\1f1f6'; }
.emoji-greece:before { content: '\1f1ec\1f1f7'; }
.emoji-south-georgia-south-sandwich-islands:before { content: '\1f1ec\1f1f8'; }
.emoji-guatemala:before { content: '\1f1ec\1f1f9'; }
.emoji-guam:before { content: '\1f1ec\1f1fa'; }
.emoji-guinea-bissau:before { content: '\1f1ec\1f1fc'; }
.emoji-guyana:before { content: '\1f1ec\1f1fe'; }
.emoji-hong-kong-sar-china:before { content: '\1f1ed\1f1f0'; }
.emoji-heard-mcdonald-islands:before { content: '\1f1ed\1f1f2'; }
.emoji-honduras:before { content: '\1f1ed\1f1f3'; }
.emoji-croatia:before { content: '\1f1ed\1f1f7'; }
.emoji-haiti:before { content: '\1f1ed\1f1f9'; }
.emoji-hungary:before { content: '\1f1ed\1f1fa'; }
.emoji-canary-islands:before { content: '\1f1ee\1f1e8'; }
.emoji-indonesia:before { content: '\1f1ee\1f1e9'; }
.emoji-ireland:before { content: '\1f1ee\1f1ea'; }
.emoji-israel:before { content: '\1f1ee\1f1f1'; }
.emoji-isle-of-man:before { content: '\1f1ee\1f1f2'; }
.emoji-india:before { content: '\1f1ee\1f1f3'; }
.emoji-british-indian-ocean-territory:before { content: '\1f1ee\1f1f4'; }
.emoji-iraq:before { content: '\1f1ee\1f1f6'; }
.emoji-iran:before { content: '\1f1ee\1f1f7'; }
.emoji-iceland:before { content: '\1f1ee\1f1f8'; }
.emoji-italy:before { content: '\1f1ee\1f1f9'; }
.emoji-jersey:before { content: '\1f1ef\1f1ea'; }
.emoji-jamaica:before { content: '\1f1ef\1f1f2'; }
.emoji-jordan:before { content: '\1f1ef\1f1f4'; }
.emoji-japan:before { content: '\1f1ef\1f1f5'; }
.emoji-kenya:before { content: '\1f1f0\1f1ea'; }
.emoji-kyrgyzstan:before { content: '\1f1f0\1f1ec'; }
.emoji-cambodia:before { content: '\1f1f0\1f1ed'; }
.emoji-kiribati:before { content: '\1f1f0\1f1ee'; }
.emoji-comoros:before { content: '\1f1f0\1f1f2'; }
.emoji-st-kitts-nevis:before { content: '\1f1f0\1f1f3'; }
.emoji-north-korea:before { content: '\1f1f0\1f1f5'; }
.emoji-south-korea:before { content: '\1f1f0\1f1f7'; }
.emoji-kuwait:before { content: '\1f1f0\1f1fc'; }
.emoji-cayman-islands:before { content: '\1f1f0\1f1fe'; }
.emoji-kazakhstan:before { content: '\1f1f0\1f1ff'; }
.emoji-laos:before { content: '\1f1f1\1f1e6'; }
.emoji-lebanon:before { content: '\1f1f1\1f1e7'; }
.emoji-st-lucia:before { content: '\1f1f1\1f1e8'; }
.emoji-liechtenstein:before { content: '\1f1f1\1f1ee'; }
.emoji-sri-lanka:before { content: '\1f1f1\1f1f0'; }
.emoji-liberia:before { content: '\1f1f1\1f1f7'; }
.emoji-lesotho:before { content: '\1f1f1\1f1f8'; }
.emoji-lithuania:before { content: '\1f1f1\1f1f9'; }
.emoji-luxembourg:before { content: '\1f1f1\1f1fa'; }
.emoji-latvia:before { content: '\1f1f1\1f1fb'; }
.emoji-libya:before { content: '\1f1f1\1f1fe'; }
.emoji-morocco:before { content: '\1f1f2\1f1e6'; }
.emoji-monaco:before { content: '\1f1f2\1f1e8'; }
.emoji-moldova:before { content: '\1f1f2\1f1e9'; }
.emoji-montenegro:before { content: '\1f1f2\1f1ea'; }
.emoji-st-martin:before { content: '\1f1f2\1f1eb'; }
.emoji-madagascar:before { content: '\1f1f2\1f1ec'; }
.emoji-marshall-islands:before { content: '\1f1f2\1f1ed'; }
.emoji-macedonia:before { content: '\1f1f2\1f1f0'; }
.emoji-mali:before { content: '\1f1f2\1f1f1'; }
.emoji-myanmar-burma:before { content: '\1f1f2\1f1f2'; }
.emoji-mongolia:before { content: '\1f1f2\1f1f3'; }
.emoji-macau-sar-china:before { content: '\1f1f2\1f1f4'; }
.emoji-northern-mariana-islands:before { content: '\1f1f2\1f1f5'; }
.emoji-martinique:before { content: '\1f1f2\1f1f6'; }
.emoji-mauritania:before { content: '\1f1f2\1f1f7'; }
.emoji-montserrat:before { content: '\1f1f2\1f1f8'; }
.emoji-malta:before { content: '\1f1f2\1f1f9'; }
.emoji-mauritius:before { content: '\1f1f2\1f1fa'; }
.emoji-maldives:before { content: '\1f1f2\1f1fb'; }
.emoji-malawi:before { content: '\1f1f2\1f1fc'; }
.emoji-mexico:before { content: '\1f1f2\1f1fd'; }
.emoji-malaysia:before { content: '\1f1f2\1f1fe'; }
.emoji-mozambique:before { content: '\1f1f2\1f1ff'; }
.emoji-namibia:before { content: '\1f1f3\1f1e6'; }
.emoji-new-caledonia:before { content: '\1f1f3\1f1e8'; }
.emoji-niger:before { content: '\1f1f3\1f1ea'; }
.emoji-norfolk-island:before { content: '\1f1f3\1f1eb'; }
.emoji-nigeria:before { content: '\1f1f3\1f1ec'; }
.emoji-nicaragua:before { content: '\1f1f3\1f1ee'; }
.emoji-netherlands:before { content: '\1f1f3\1f1f1'; }
.emoji-norway:before { content: '\1f1f3\1f1f4'; }
.emoji-nepal:before { content: '\1f1f3\1f1f5'; }
.emoji-nauru:before { content: '\1f1f3\1f1f7'; }
.emoji-niue:before { content: '\1f1f3\1f1fa'; }
.emoji-new-zealand:before { content: '\1f1f3\1f1ff'; }
.emoji-oman:before { content: '\1f1f4\1f1f2'; }
.emoji-panama:before { content: '\1f1f5\1f1e6'; }
.emoji-peru:before { content: '\1f1f5\1f1ea'; }
.emoji-french-polynesia:before { content: '\1f1f5\1f1eb'; }
.emoji-papua-new-guinea:before { content: '\1f1f5\1f1ec'; }
.emoji-philippines:before { content: '\1f1f5\1f1ed'; }
.emoji-pakistan:before { content: '\1f1f5\1f1f0'; }
.emoji-poland:before { content: '\1f1f5\1f1f1'; }
.emoji-st-pierre-miquelon:before { content: '\1f1f5\1f1f2'; }
.emoji-pitcairn-islands:before { content: '\1f1f5\1f1f3'; }
.emoji-puerto-rico:before { content: '\1f1f5\1f1f7'; }
.emoji-palestinian-territories:before { content: '\1f1f5\1f1f8'; }
.emoji-portugal:before { content: '\1f1f5\1f1f9'; }
.emoji-palau:before { content: '\1f1f5\1f1fc'; }
.emoji-paraguay:before { content: '\1f1f5\1f1fe'; }
.emoji-qatar:before { content: '\1f1f6\1f1e6'; }
.emoji-reunion:before { content: '\1f1f7\1f1ea'; }
.emoji-romania:before { content: '\1f1f7\1f1f4'; }
.emoji-serbia:before { content: '\1f1f7\1f1f8'; }
.emoji-russia:before { content: '\1f1f7\1f1fa'; }
.emoji-rwanda:before { content: '\1f1f7\1f1fc'; }
.emoji-saudi-arabia:before { content: '\1f1f8\1f1e6'; }
.emoji-solomon-islands:before { content: '\1f1f8\1f1e7'; }
.emoji-seychelles:before { content: '\1f1f8\1f1e8'; }
.emoji-sudan:before { content: '\1f1f8\1f1e9'; }
.emoji-sweden:before { content: '\1f1f8\1f1ea'; }
.emoji-singapore:before { content: '\1f1f8\1f1ec'; }
.emoji-st-helena:before { content: '\1f1f8\1f1ed'; }
.emoji-slovenia:before { content: '\1f1f8\1f1ee'; }
.emoji-svalbard-jan-mayen:before { content: '\1f1f8\1f1ef'; }
.emoji-slovakia:before { content: '\1f1f8\1f1f0'; }
.emoji-sierra-leone:before { content: '\1f1f8\1f1f1'; }
.emoji-san-marino:before { content: '\1f1f8\1f1f2'; }
.emoji-senegal:before { content: '\1f1f8\1f1f3'; }
.emoji-somalia:before { content: '\1f1f8\1f1f4'; }
.emoji-suriname:before { content: '\1f1f8\1f1f7'; }
.emoji-south-sudan:before { content: '\1f1f8\1f1f8'; }
.emoji-sao-tome-principe:before { content: '\1f1f8\1f1f9'; }
.emoji-el-salvador:before { content: '\1f1f8\1f1fb'; }
.emoji-sint-maarten:before { content: '\1f1f8\1f1fd'; }
.emoji-syria:before { content: '\1f1f8\1f1fe'; }
.emoji-swaziland:before { content: '\1f1f8\1f1ff'; }
.emoji-tristan-da-cunha:before { content: '\1f1f9\1f1e6'; }
.emoji-turks-caicos-islands:before { content: '\1f1f9\1f1e8'; }
.emoji-chad:before { content: '\1f1f9\1f1e9'; }
.emoji-french-southern-territories:before { content: '\1f1f9\1f1eb'; }
.emoji-togo:before { content: '\1f1f9\1f1ec'; }
.emoji-thailand:before { content: '\1f1f9\1f1ed'; }
.emoji-tajikistan:before { content: '\1f1f9\1f1ef'; }
.emoji-tokelau:before { content: '\1f1f9\1f1f0'; }
.emoji-timor-leste:before { content: '\1f1f9\1f1f1'; }
.emoji-turkmenistan:before { content: '\1f1f9\1f1f2'; }
.emoji-tunisia:before { content: '\1f1f9\1f1f3'; }
.emoji-tonga:before { content: '\1f1f9\1f1f4'; }
.emoji-turkey:before { content: '\1f1f9\1f1f7'; }
.emoji-trinidad-tobago:before { content: '\1f1f9\1f1f9'; }
.emoji-tuvalu:before { content: '\1f1f9\1f1fb'; }
.emoji-taiwan:before { content: '\1f1f9\1f1fc'; }
.emoji-tanzania:before { content: '\1f1f9\1f1ff'; }
.emoji-ukraine:before { content: '\1f1fa\1f1e6'; }
.emoji-uganda:before { content: '\1f1fa\1f1ec'; }
.emoji-u-s-outlying-islands:before { content: '\1f1fa\1f1f2'; }
.emoji-united-nations:before { content: '\1f1fa\1f1f3'; }
.emoji-united-states:before { content: '\1f1fa\1f1f8'; }
.emoji-uruguay:before { content: '\1f1fa\1f1fe'; }
.emoji-uzbekistan:before { content: '\1f1fa\1f1ff'; }
.emoji-vatican-city:before { content: '\1f1fb\1f1e6'; }
.emoji-st-vincent-grenadines:before { content: '\1f1fb\1f1e8'; }
.emoji-venezuela:before { content: '\1f1fb\1f1ea'; }
.emoji-british-virgin-islands:before { content: '\1f1fb\1f1ec'; }
.emoji-u-s-virgin-islands:before { content: '\1f1fb\1f1ee'; }
.emoji-vietnam:before { content: '\1f1fb\1f1f3'; }
.emoji-vanuatu:before { content: '\1f1fb\1f1fa'; }
.emoji-wallis-futuna:before { content: '\1f1fc\1f1eb'; }
.emoji-samoa:before { content: '\1f1fc\1f1f8'; }
.emoji-kosovo:before { content: '\1f1fd\1f1f0'; }
.emoji-yemen:before { content: '\1f1fe\1f1ea'; }
.emoji-mayotte:before { content: '\1f1fe\1f1f9'; }
.emoji-south-africa:before { content: '\1f1ff\1f1e6'; }
.emoji-zambia:before { content: '\1f1ff\1f1f2'; }
.emoji-zimbabwe:before { content: '\1f1ff\1f1fc'; }
