.emoji-chequered-flag:before { content: '\1f3c1'; }
.emoji-triangular-flag:before { content: '\1f6a9'; }
.emoji-crossed-flags:before { content: '\1f38c'; }
.emoji-black-flag:before { content: '\1f3f4'; }
.emoji-white-flag:before { content: '\1f3f3'; }
.emoji-rainbow-flag:before { content: '\1f3f3\fe0f\200d\1f308'; }
