.emoji-england:before { content: '\1f3f4\e0067\e0062\e0065\e006e\e0067\e007f'; }
.emoji-scotland:before { content: '\1f3f4\e0067\e0062\e0073\e0063\e0074\e007f'; }
.emoji-wales:before { content: '\1f3f4\e0067\e0062\e0077\e006c\e0073\e007f'; }
