.emoji-notebook-with-decorative-cover:before { content: '\1f4d4'; }
.emoji-closed-book:before { content: '\1f4d5'; }
.emoji-open-book:before { content: '\1f4d6'; }
.emoji-green-book:before { content: '\1f4d7'; }
.emoji-blue-book:before { content: '\1f4d8'; }
.emoji-orange-book:before { content: '\1f4d9'; }
.emoji-books:before { content: '\1f4da'; }
.emoji-notebook:before { content: '\1f4d3'; }
.emoji-ledger:before { content: '\1f4d2'; }
.emoji-page-with-curl:before { content: '\1f4c3'; }
.emoji-scroll:before { content: '\1f4dc'; }
.emoji-page-facing-up:before { content: '\1f4c4'; }
.emoji-newspaper:before { content: '\1f4f0'; }
.emoji-rolled-up-newspaper:before { content: '\1f5de'; }
.emoji-bookmark-tabs:before { content: '\1f4d1'; }
.emoji-bookmark:before { content: '\1f516'; }
.emoji-label:before { content: '\1f3f7'; }
