.emoji-battery:before { content: '\1f50b'; }
.emoji-electric-plug:before { content: '\1f50c'; }
.emoji-laptop-computer:before { content: '\1f4bb'; }
.emoji-desktop-computer:before { content: '\1f5a5'; }
.emoji-printer:before { content: '\1f5a8'; }
.emoji-keyboard:before { content: '\2328'; }
.emoji-computer-mouse:before { content: '\1f5b1'; }
.emoji-trackball:before { content: '\1f5b2'; }
.emoji-computer-disk:before { content: '\1f4bd'; }
.emoji-floppy-disk:before { content: '\1f4be'; }
.emoji-optical-disk:before { content: '\1f4bf'; }
.emoji-dvd:before { content: '\1f4c0'; }
