.emoji-movie-camera:before { content: '\1f3a5'; }
.emoji-film-frames:before { content: '\1f39e'; }
.emoji-film-projector:before { content: '\1f4fd'; }
.emoji-clapper-board:before { content: '\1f3ac'; }
.emoji-television:before { content: '\1f4fa'; }
.emoji-camera:before { content: '\1f4f7'; }
.emoji-camera-with-flash:before { content: '\1f4f8'; }
.emoji-video-camera:before { content: '\1f4f9'; }
.emoji-videocassette:before { content: '\1f4fc'; }
.emoji-magnifying-glass-tilted-left:before { content: '\1f50d'; }
.emoji-magnifying-glass-tilted-right:before { content: '\1f50e'; }
.emoji-microscope:before { content: '\1f52c'; }
.emoji-telescope:before { content: '\1f52d'; }
.emoji-satellite-antenna:before { content: '\1f4e1'; }
.emoji-candle:before { content: '\1f56f'; }
.emoji-light-bulb:before { content: '\1f4a1'; }
.emoji-flashlight:before { content: '\1f526'; }
.emoji-red-paper-lantern:before { content: '\1f3ee'; }
