.emoji-locked:before { content: '\1f512'; }
.emoji-unlocked:before { content: '\1f513'; }
.emoji-locked-with-pen:before { content: '\1f50f'; }
.emoji-locked-with-key:before { content: '\1f510'; }
.emoji-key:before { content: '\1f511'; }
.emoji-old-key:before { content: '\1f5dd'; }
