.emoji-envelope:before { content: '\2709'; }
.emoji-e-mail:before { content: '\1f4e7'; }
.emoji-incoming-envelope:before { content: '\1f4e8'; }
.emoji-envelope-with-arrow:before { content: '\1f4e9'; }
.emoji-outbox-tray:before { content: '\1f4e4'; }
.emoji-inbox-tray:before { content: '\1f4e5'; }
.emoji-package:before { content: '\1f4e6'; }
.emoji-closed-mailbox-with-raised-flag:before { content: '\1f4eb'; }
.emoji-closed-mailbox-with-lowered-flag:before { content: '\1f4ea'; }
.emoji-open-mailbox-with-raised-flag:before { content: '\1f4ec'; }
.emoji-open-mailbox-with-lowered-flag:before { content: '\1f4ed'; }
.emoji-postbox:before { content: '\1f4ee'; }
.emoji-ballot-box-with-ballot:before { content: '\1f5f3'; }
