.emoji-money-bag:before { content: '\1f4b0'; }
.emoji-yen-banknote:before { content: '\1f4b4'; }
.emoji-dollar-banknote:before { content: '\1f4b5'; }
.emoji-euro-banknote:before { content: '\1f4b6'; }
.emoji-pound-banknote:before { content: '\1f4b7'; }
.emoji-money-with-wings:before { content: '\1f4b8'; }
.emoji-credit-card:before { content: '\1f4b3'; }
.emoji-chart-increasing-with-yen:before { content: '\1f4b9'; }
.emoji-currency-exchange:before { content: '\1f4b1'; }
.emoji-heavy-dollar-sign:before { content: '\1f4b2'; }
