.emoji-musical-score:before { content: '\1f3bc'; }
.emoji-musical-note:before { content: '\1f3b5'; }
.emoji-musical-notes:before { content: '\1f3b6'; }
.emoji-studio-microphone:before { content: '\1f399'; }
.emoji-level-slider:before { content: '\1f39a'; }
.emoji-control-knobs:before { content: '\1f39b'; }
.emoji-microphone:before { content: '\1f3a4'; }
.emoji-headphone:before { content: '\1f3a7'; }
.emoji-radio:before { content: '\1f4fb'; }
