.emoji-saxophone:before { content: '\1f3b7'; }
.emoji-guitar:before { content: '\1f3b8'; }
.emoji-musical-keyboard:before { content: '\1f3b9'; }
.emoji-trumpet:before { content: '\1f3ba'; }
.emoji-violin:before { content: '\1f3bb'; }
.emoji-drum:before { content: '\1f941'; }
