.emoji-briefcase:before { content: '\1f4bc'; }
.emoji-file-folder:before { content: '\1f4c1'; }
.emoji-open-file-folder:before { content: '\1f4c2'; }
.emoji-card-index-dividers:before { content: '\1f5c2'; }
.emoji-calendar:before { content: '\1f4c5'; }
.emoji-tear-off-calendar:before { content: '\1f4c6'; }
.emoji-spiral-notepad:before { content: '\1f5d2'; }
.emoji-spiral-calendar:before { content: '\1f5d3'; }
.emoji-card-index:before { content: '\1f4c7'; }
.emoji-chart-increasing:before { content: '\1f4c8'; }
.emoji-chart-decreasing:before { content: '\1f4c9'; }
.emoji-bar-chart:before { content: '\1f4ca'; }
.emoji-clipboard:before { content: '\1f4cb'; }
.emoji-pushpin:before { content: '\1f4cc'; }
.emoji-round-pushpin:before { content: '\1f4cd'; }
.emoji-paperclip:before { content: '\1f4ce'; }
.emoji-linked-paperclips:before { content: '\1f587'; }
.emoji-straight-ruler:before { content: '\1f4cf'; }
.emoji-triangular-ruler:before { content: '\1f4d0'; }
.emoji-scissors:before { content: '\2702'; }
.emoji-card-file-box:before { content: '\1f5c3'; }
.emoji-file-cabinet:before { content: '\1f5c4'; }
.emoji-wastebasket:before { content: '\1f5d1'; }
