.emoji-cigarette:before { content: '\1f6ac'; }
.emoji-coffin:before { content: '\26b0'; }
.emoji-funeral-urn:before { content: '\26b1'; }
.emoji-moai:before { content: '\1f5ff'; }
.emoji-oil-drum:before { content: '\1f6e2'; }
.emoji-crystal-ball:before { content: '\1f52e'; }
.emoji-shopping-cart:before { content: '\1f6d2'; }
