.emoji-mobile-phone:before { content: '\1f4f1'; }
.emoji-mobile-phone-with-arrow:before { content: '\1f4f2'; }
.emoji-telephone:before { content: '\260e'; }
.emoji-telephone-receiver:before { content: '\1f4de'; }
.emoji-pager:before { content: '\1f4df'; }
.emoji-fax-machine:before { content: '\1f4e0'; }
