.emoji-muted-speaker:before { content: '\1f507'; }
.emoji-speaker-low-volume:before { content: '\1f508'; }
.emoji-speaker-medium-volume:before { content: '\1f509'; }
.emoji-speaker-high-volume:before { content: '\1f50a'; }
.emoji-loudspeaker:before { content: '\1f4e2'; }
.emoji-megaphone:before { content: '\1f4e3'; }
.emoji-postal-horn:before { content: '\1f4ef'; }
.emoji-bell:before { content: '\1f514'; }
.emoji-bell-with-slash:before { content: '\1f515'; }
