.emoji-hammer:before { content: '\1f528'; }
.emoji-pick:before { content: '\26cf'; }
.emoji-hammer-and-pick:before { content: '\2692'; }
.emoji-hammer-and-wrench:before { content: '\1f6e0'; }
.emoji-dagger:before { content: '\1f5e1'; }
.emoji-crossed-swords:before { content: '\2694'; }
.emoji-pistol:before { content: '\1f52b'; }
.emoji-bow-and-arrow:before { content: '\1f3f9'; }
.emoji-shield:before { content: '\1f6e1'; }
.emoji-wrench:before { content: '\1f527'; }
.emoji-nut-and-bolt:before { content: '\1f529'; }
.emoji-gear:before { content: '\2699'; }
.emoji-clamp:before { content: '\1f5dc'; }
.emoji-alembic:before { content: '\2697'; }
.emoji-balance-scale:before { content: '\2696'; }
.emoji-link:before { content: '\1f517'; }
.emoji-chains:before { content: '\26d3'; }
