.emoji-pencil:before { content: '\270f'; }
.emoji-black-nib:before { content: '\2712'; }
.emoji-fountain-pen:before { content: '\1f58b'; }
.emoji-pen:before { content: '\1f58a'; }
.emoji-paintbrush:before { content: '\1f58c'; }
.emoji-crayon:before { content: '\1f58d'; }
.emoji-memo:before { content: '\1f4dd'; }
