.emoji-hundred-points:before { content: '\1f4af'; }
.emoji-input-latin-uppercase:before { content: '\1f520'; }
.emoji-input-latin-lowercase:before { content: '\1f521'; }
.emoji-input-numbers:before { content: '\1f522'; }
.emoji-input-symbols:before { content: '\1f523'; }
.emoji-input-latin-letters:before { content: '\1f524'; }
.emoji-a-button-blood-type:before { content: '\1f170'; }
.emoji-ab-button-blood-type:before { content: '\1f18e'; }
.emoji-b-button-blood-type:before { content: '\1f171'; }
.emoji-cl-button:before { content: '\1f191'; }
.emoji-cool-button:before { content: '\1f192'; }
.emoji-free-button:before { content: '\1f193'; }
.emoji-information:before { content: '\2139'; }
.emoji-id-button:before { content: '\1f194'; }
.emoji-circled-m:before { content: '\24c2'; }
.emoji-new-button:before { content: '\1f195'; }
.emoji-ng-button:before { content: '\1f196'; }
.emoji-o-button-blood-type:before { content: '\1f17e'; }
.emoji-ok-button:before { content: '\1f197'; }
.emoji-p-button:before { content: '\1f17f'; }
.emoji-sos-button:before { content: '\1f198'; }
.emoji-up-button:before { content: '\1f199'; }
.emoji-vs-button:before { content: '\1f19a'; }
.emoji-japanese-here-button:before { content: '\1f201'; }
.emoji-japanese-service-charge-button:before { content: '\1f202'; }
.emoji-japanese-monthly-amount-button:before { content: '\1f237'; }
.emoji-japanese-not-free-of-charge-button:before { content: '\1f236'; }
.emoji-japanese-reserved-button:before { content: '\1f22f'; }
.emoji-japanese-bargain-button:before { content: '\1f250'; }
.emoji-japanese-discount-button:before { content: '\1f239'; }
.emoji-japanese-free-of-charge-button:before { content: '\1f21a'; }
.emoji-japanese-prohibited-button:before { content: '\1f232'; }
.emoji-japanese-acceptable-button:before { content: '\1f251'; }
.emoji-japanese-application-button:before { content: '\1f238'; }
.emoji-japanese-passing-grade-button:before { content: '\1f234'; }
.emoji-japanese-vacancy-button:before { content: '\1f233'; }
.emoji-japanese-congratulations-button:before { content: '\3297'; }
.emoji-japanese-secret-button:before { content: '\3299'; }
.emoji-japanese-open-for-business-button:before { content: '\1f23a'; }
.emoji-japanese-no-vacancy-button:before { content: '\1f235'; }
