.emoji-up-arrow:before { content: '\2b06'; }
.emoji-up-right-arrow:before { content: '\2197'; }
.emoji-right-arrow:before { content: '\27a1'; }
.emoji-down-right-arrow:before { content: '\2198'; }
.emoji-down-arrow:before { content: '\2b07'; }
.emoji-down-left-arrow:before { content: '\2199'; }
.emoji-left-arrow:before { content: '\2b05'; }
.emoji-up-left-arrow:before { content: '\2196'; }
.emoji-up-down-arrow:before { content: '\2195'; }
.emoji-left-right-arrow:before { content: '\2194'; }
.emoji-right-arrow-curving-left:before { content: '\21a9'; }
.emoji-left-arrow-curving-right:before { content: '\21aa'; }
.emoji-right-arrow-curving-up:before { content: '\2934'; }
.emoji-right-arrow-curving-down:before { content: '\2935'; }
.emoji-clockwise-vertical-arrows:before { content: '\1f503'; }
.emoji-counterclockwise-arrows-button:before { content: '\1f504'; }
.emoji-back-arrow:before { content: '\1f519'; }
.emoji-end-arrow:before { content: '\1f51a'; }
.emoji-on-arrow:before { content: '\1f51b'; }
.emoji-soon-arrow:before { content: '\1f51c'; }
.emoji-top-arrow:before { content: '\1f51d'; }
