.emoji-shuffle-tracks-button:before { content: '\1f500'; }
.emoji-repeat-button:before { content: '\1f501'; }
.emoji-repeat-single-button:before { content: '\1f502'; }
.emoji-play-button:before { content: '\25b6'; }
.emoji-fast-forward-button:before { content: '\23e9'; }
.emoji-next-track-button:before { content: '\23ed'; }
.emoji-play-or-pause-button:before { content: '\23ef'; }
.emoji-reverse-button:before { content: '\25c0'; }
.emoji-fast-reverse-button:before { content: '\23ea'; }
.emoji-last-track-button:before { content: '\23ee'; }
.emoji-up-button:before { content: '\1f53c'; }
.emoji-fast-up-button:before { content: '\23eb'; }
.emoji-down-button:before { content: '\1f53d'; }
.emoji-fast-down-button:before { content: '\23ec'; }
.emoji-pause-button:before { content: '\23f8'; }
.emoji-stop-button:before { content: '\23f9'; }
.emoji-record-button:before { content: '\23fa'; }
.emoji-eject-button:before { content: '\23cf'; }
.emoji-cinema:before { content: '\1f3a6'; }
.emoji-dim-button:before { content: '\1f505'; }
.emoji-bright-button:before { content: '\1f506'; }
.emoji-antenna-bars:before { content: '\1f4f6'; }
.emoji-vibration-mode:before { content: '\1f4f3'; }
.emoji-mobile-phone-off:before { content: '\1f4f4'; }
