.emoji-black-small-square:before { content: '\25aa'; }
.emoji-white-small-square:before { content: '\25ab'; }
.emoji-white-medium-square:before { content: '\25fb'; }
.emoji-black-medium-square:before { content: '\25fc'; }
.emoji-white-medium-small-square:before { content: '\25fd'; }
.emoji-black-medium-small-square:before { content: '\25fe'; }
.emoji-black-large-square:before { content: '\2b1b'; }
.emoji-white-large-square:before { content: '\2b1c'; }
.emoji-large-orange-diamond:before { content: '\1f536'; }
.emoji-large-blue-diamond:before { content: '\1f537'; }
.emoji-small-orange-diamond:before { content: '\1f538'; }
.emoji-small-blue-diamond:before { content: '\1f539'; }
.emoji-red-triangle-pointed-up:before { content: '\1f53a'; }
.emoji-red-triangle-pointed-down:before { content: '\1f53b'; }
.emoji-diamond-with-a-dot:before { content: '\1f4a0'; }
.emoji-radio-button:before { content: '\1f518'; }
.emoji-black-square-button:before { content: '\1f532'; }
.emoji-white-square-button:before { content: '\1f533'; }
.emoji-white-circle:before { content: '\26aa'; }
.emoji-black-circle:before { content: '\26ab'; }
.emoji-red-circle:before { content: '\1f534'; }
.emoji-blue-circle:before { content: '\1f535'; }
