.emoji-keycap:before { content: '\0023\fe0f\20e3'; }
.emoji-keycap:before { content: '\002a\fe0f\20e3'; }
.emoji-keycap-0:before { content: '\0030\fe0f\20e3'; }
.emoji-keycap-1:before { content: '\0031\fe0f\20e3'; }
.emoji-keycap-2:before { content: '\0032\fe0f\20e3'; }
.emoji-keycap-3:before { content: '\0033\fe0f\20e3'; }
.emoji-keycap-4:before { content: '\0034\fe0f\20e3'; }
.emoji-keycap-5:before { content: '\0035\fe0f\20e3'; }
.emoji-keycap-6:before { content: '\0036\fe0f\20e3'; }
.emoji-keycap-7:before { content: '\0037\fe0f\20e3'; }
.emoji-keycap-8:before { content: '\0038\fe0f\20e3'; }
.emoji-keycap-9:before { content: '\0039\fe0f\20e3'; }
.emoji-keycap-10:before { content: '\1f51f'; }
