.emoji-female-sign:before { content: '\2640'; }
.emoji-male-sign:before { content: '\2642'; }
.emoji-medical-symbol:before { content: '\2695'; }
.emoji-recycling-symbol:before { content: '\267b'; }
.emoji-fleur-de-lis:before { content: '\269c'; }
.emoji-trident-emblem:before { content: '\1f531'; }
.emoji-name-badge:before { content: '\1f4db'; }
.emoji-japanese-symbol-for-beginner:before { content: '\1f530'; }
.emoji-heavy-large-circle:before { content: '\2b55'; }
.emoji-white-heavy-check-mark:before { content: '\2705'; }
.emoji-ballot-box-with-check:before { content: '\2611'; }
.emoji-heavy-check-mark:before { content: '\2714'; }
.emoji-heavy-multiplication-x:before { content: '\2716'; }
.emoji-cross-mark:before { content: '\274c'; }
.emoji-cross-mark-button:before { content: '\274e'; }
.emoji-heavy-plus-sign:before { content: '\2795'; }
.emoji-heavy-minus-sign:before { content: '\2796'; }
.emoji-heavy-division-sign:before { content: '\2797'; }
.emoji-curly-loop:before { content: '\27b0'; }
.emoji-double-curly-loop:before { content: '\27bf'; }
.emoji-part-alternation-mark:before { content: '\303d'; }
.emoji-eight-spoked-asterisk:before { content: '\2733'; }
.emoji-eight-pointed-star:before { content: '\2734'; }
.emoji-sparkle:before { content: '\2747'; }
.emoji-double-exclamation-mark:before { content: '\203c'; }
.emoji-exclamation-question-mark:before { content: '\2049'; }
.emoji-question-mark:before { content: '\2753'; }
.emoji-white-question-mark:before { content: '\2754'; }
.emoji-white-exclamation-mark:before { content: '\2755'; }
.emoji-exclamation-mark:before { content: '\2757'; }
.emoji-wavy-dash:before { content: '\3030'; }
.emoji-copyright:before { content: '\00a9'; }
.emoji-registered:before { content: '\00ae'; }
.emoji-trade-mark:before { content: '\2122'; }
