.emoji-place-of-worship:before { content: '\1f6d0'; }
.emoji-atom-symbol:before { content: '\269b'; }
.emoji-om:before { content: '\1f549'; }
.emoji-star-of-david:before { content: '\2721'; }
.emoji-wheel-of-dharma:before { content: '\2638'; }
.emoji-yin-yang:before { content: '\262f'; }
.emoji-latin-cross:before { content: '\271d'; }
.emoji-orthodox-cross:before { content: '\2626'; }
.emoji-star-and-crescent:before { content: '\262a'; }
.emoji-peace-symbol:before { content: '\262e'; }
.emoji-menorah:before { content: '\1f54e'; }
.emoji-dotted-six-pointed-star:before { content: '\1f52f'; }
