.emoji-atm-sign:before { content: '\1f3e7'; }
.emoji-litter-in-bin-sign:before { content: '\1f6ae'; }
.emoji-potable-water:before { content: '\1f6b0'; }
.emoji-wheelchair-symbol:before { content: '\267f'; }
.emoji-mens-room:before { content: '\1f6b9'; }
.emoji-womens-room:before { content: '\1f6ba'; }
.emoji-restroom:before { content: '\1f6bb'; }
.emoji-baby-symbol:before { content: '\1f6bc'; }
.emoji-water-closet:before { content: '\1f6be'; }
.emoji-passport-control:before { content: '\1f6c2'; }
.emoji-customs:before { content: '\1f6c3'; }
.emoji-baggage-claim:before { content: '\1f6c4'; }
.emoji-left-luggage:before { content: '\1f6c5'; }
