.emoji-warning:before { content: '\26a0'; }
.emoji-children-crossing:before { content: '\1f6b8'; }
.emoji-no-entry:before { content: '\26d4'; }
.emoji-prohibited:before { content: '\1f6ab'; }
.emoji-no-bicycles:before { content: '\1f6b3'; }
.emoji-no-smoking:before { content: '\1f6ad'; }
.emoji-no-littering:before { content: '\1f6af'; }
.emoji-non-potable-water:before { content: '\1f6b1'; }
.emoji-no-pedestrians:before { content: '\1f6b7'; }
.emoji-no-mobile-phones:before { content: '\1f4f5'; }
.emoji-no-one-under-eighteen:before { content: '\1f51e'; }
.emoji-radioactive:before { content: '\2622'; }
.emoji-biohazard:before { content: '\2623'; }
