.emoji-aries:before { content: '\2648'; }
.emoji-taurus:before { content: '\2649'; }
.emoji-gemini:before { content: '\264a'; }
.emoji-cancer:before { content: '\264b'; }
.emoji-leo:before { content: '\264c'; }
.emoji-virgo:before { content: '\264d'; }
.emoji-libra:before { content: '\264e'; }
.emoji-scorpius:before { content: '\264f'; }
.emoji-sagittarius:before { content: '\2650'; }
.emoji-capricorn:before { content: '\2651'; }
.emoji-aquarius:before { content: '\2652'; }
.emoji-pisces:before { content: '\2653'; }
.emoji-ophiuchus:before { content: '\26ce'; }
