.emoji-bellhop-bell:before { content: '\1f6ce'; }
.emoji-door:before { content: '\1f6aa'; }
.emoji-bed:before { content: '\1f6cf'; }
.emoji-couch-and-lamp:before { content: '\1f6cb'; }
.emoji-toilet:before { content: '\1f6bd'; }
.emoji-shower:before { content: '\1f6bf'; }
.emoji-bathtub:before { content: '\1f6c1'; }
