.emoji-bellhop-bell:before { content: '\1f6ce'; }
.emoji-door:before { content: '\1f6aa'; }
.emoji-person-in-bed:before { content: '\1f6cc'; }
.emoji-person-in-bed-light-skin-tone:before { content: '\1f6cc\1f3fb'; }
.emoji-person-in-bed-medium-light-skin-tone:before { content: '\1f6cc\1f3fc'; }
.emoji-person-in-bed-medium-skin-tone:before { content: '\1f6cc\1f3fd'; }
.emoji-person-in-bed-medium-dark-skin-tone:before { content: '\1f6cc\1f3fe'; }
.emoji-person-in-bed-dark-skin-tone:before { content: '\1f6cc\1f3ff'; }
.emoji-bed:before { content: '\1f6cf'; }
.emoji-couch-and-lamp:before { content: '\1f6cb'; }
.emoji-toilet:before { content: '\1f6bd'; }
.emoji-shower:before { content: '\1f6bf'; }
.emoji-person-taking-bath:before { content: '\1f6c0'; }
.emoji-person-taking-bath-light-skin-tone:before { content: '\1f6c0\1f3fb'; }
.emoji-person-taking-bath-medium-light-skin-tone:before { content: '\1f6c0\1f3fc'; }
.emoji-person-taking-bath-medium-skin-tone:before { content: '\1f6c0\1f3fd'; }
.emoji-person-taking-bath-medium-dark-skin-tone:before { content: '\1f6c0\1f3fe'; }
.emoji-person-taking-bath-dark-skin-tone:before { content: '\1f6c0\1f3ff'; }
.emoji-bathtub:before { content: '\1f6c1'; }
