.emoji-stadium:before { content: '\1f3df'; }
.emoji-classical-building:before { content: '\1f3db'; }
.emoji-building-construction:before { content: '\1f3d7'; }
.emoji-houses:before { content: '\1f3d8'; }
.emoji-cityscape:before { content: '\1f3d9'; }
.emoji-derelict-house:before { content: '\1f3da'; }
.emoji-house:before { content: '\1f3e0'; }
.emoji-house-with-garden:before { content: '\1f3e1'; }
.emoji-office-building:before { content: '\1f3e2'; }
.emoji-japanese-post-office:before { content: '\1f3e3'; }
.emoji-post-office:before { content: '\1f3e4'; }
.emoji-hospital:before { content: '\1f3e5'; }
.emoji-bank:before { content: '\1f3e6'; }
.emoji-hotel:before { content: '\1f3e8'; }
.emoji-love-hotel:before { content: '\1f3e9'; }
.emoji-convenience-store:before { content: '\1f3ea'; }
.emoji-school:before { content: '\1f3eb'; }
.emoji-department-store:before { content: '\1f3ec'; }
.emoji-factory:before { content: '\1f3ed'; }
.emoji-japanese-castle:before { content: '\1f3ef'; }
.emoji-castle:before { content: '\1f3f0'; }
.emoji-wedding:before { content: '\1f492'; }
.emoji-tokyo-tower:before { content: '\1f5fc'; }
.emoji-statue-of-liberty:before { content: '\1f5fd'; }
