.emoji-snow-capped-mountain:before { content: '\1f3d4'; }
.emoji-mountain:before { content: '\26f0'; }
.emoji-volcano:before { content: '\1f30b'; }
.emoji-mount-fuji:before { content: '\1f5fb'; }
.emoji-camping:before { content: '\1f3d5'; }
.emoji-beach-with-umbrella:before { content: '\1f3d6'; }
.emoji-desert:before { content: '\1f3dc'; }
.emoji-desert-island:before { content: '\1f3dd'; }
.emoji-national-park:before { content: '\1f3de'; }
