.emoji-church:before { content: '\26ea'; }
.emoji-mosque:before { content: '\1f54c'; }
.emoji-synagogue:before { content: '\1f54d'; }
.emoji-shinto-shrine:before { content: '\26e9'; }
.emoji-kaaba:before { content: '\1f54b'; }
