.emoji-fountain:before { content: '\26f2'; }
.emoji-tent:before { content: '\26fa'; }
.emoji-foggy:before { content: '\1f301'; }
.emoji-night-with-stars:before { content: '\1f303'; }
.emoji-sunrise-over-mountains:before { content: '\1f304'; }
.emoji-sunrise:before { content: '\1f305'; }
.emoji-cityscape-at-dusk:before { content: '\1f306'; }
.emoji-sunset:before { content: '\1f307'; }
.emoji-bridge-at-night:before { content: '\1f309'; }
.emoji-hot-springs:before { content: '\2668'; }
.emoji-milky-way:before { content: '\1f30c'; }
.emoji-carousel-horse:before { content: '\1f3a0'; }
.emoji-ferris-wheel:before { content: '\1f3a1'; }
.emoji-roller-coaster:before { content: '\1f3a2'; }
.emoji-barber-pole:before { content: '\1f488'; }
.emoji-circus-tent:before { content: '\1f3aa'; }
.emoji-performing-arts:before { content: '\1f3ad'; }
.emoji-framed-picture:before { content: '\1f5bc'; }
.emoji-artist-palette:before { content: '\1f3a8'; }
.emoji-slot-machine:before { content: '\1f3b0'; }
