.emoji-globe-showing-europe-africa:before { content: '\1f30d'; }
.emoji-globe-showing-americas:before { content: '\1f30e'; }
.emoji-globe-showing-asia-australia:before { content: '\1f30f'; }
.emoji-globe-with-meridians:before { content: '\1f310'; }
.emoji-world-map:before { content: '\1f5fa'; }
.emoji-map-of-japan:before { content: '\1f5fe'; }
