.emoji-new-moon:before { content: '\1f311'; }
.emoji-waxing-crescent-moon:before { content: '\1f312'; }
.emoji-first-quarter-moon:before { content: '\1f313'; }
.emoji-waxing-gibbous-moon:before { content: '\1f314'; }
.emoji-full-moon:before { content: '\1f315'; }
.emoji-waning-gibbous-moon:before { content: '\1f316'; }
.emoji-last-quarter-moon:before { content: '\1f317'; }
.emoji-waning-crescent-moon:before { content: '\1f318'; }
.emoji-crescent-moon:before { content: '\1f319'; }
.emoji-new-moon-face:before { content: '\1f31a'; }
.emoji-first-quarter-moon-face:before { content: '\1f31b'; }
.emoji-last-quarter-moon-face:before { content: '\1f31c'; }
.emoji-thermometer:before { content: '\1f321'; }
.emoji-sun:before { content: '\2600'; }
.emoji-full-moon-face:before { content: '\1f31d'; }
.emoji-sun-with-face:before { content: '\1f31e'; }
.emoji-white-medium-star:before { content: '\2b50'; }
.emoji-glowing-star:before { content: '\1f31f'; }
.emoji-shooting-star:before { content: '\1f320'; }
.emoji-cloud:before { content: '\2601'; }
.emoji-sun-behind-cloud:before { content: '\26c5'; }
.emoji-cloud-with-lightning-and-rain:before { content: '\26c8'; }
.emoji-sun-behind-small-cloud:before { content: '\1f324'; }
.emoji-sun-behind-large-cloud:before { content: '\1f325'; }
.emoji-sun-behind-rain-cloud:before { content: '\1f326'; }
.emoji-cloud-with-rain:before { content: '\1f327'; }
.emoji-cloud-with-snow:before { content: '\1f328'; }
.emoji-cloud-with-lightning:before { content: '\1f329'; }
.emoji-tornado:before { content: '\1f32a'; }
.emoji-fog:before { content: '\1f32b'; }
.emoji-wind-face:before { content: '\1f32c'; }
.emoji-cyclone:before { content: '\1f300'; }
.emoji-rainbow:before { content: '\1f308'; }
.emoji-closed-umbrella:before { content: '\1f302'; }
.emoji-umbrella:before { content: '\2602'; }
.emoji-umbrella-with-rain-drops:before { content: '\2614'; }
.emoji-umbrella-on-ground:before { content: '\26f1'; }
.emoji-high-voltage:before { content: '\26a1'; }
.emoji-snowflake:before { content: '\2744'; }
.emoji-snowman:before { content: '\2603'; }
.emoji-snowman-without-snow:before { content: '\26c4'; }
.emoji-comet:before { content: '\2604'; }
.emoji-fire:before { content: '\1f525'; }
.emoji-droplet:before { content: '\1f4a7'; }
.emoji-water-wave:before { content: '\1f30a'; }
