.emoji-hourglass:before { content: '\231b'; }
.emoji-hourglass-with-flowing-sand:before { content: '\23f3'; }
.emoji-watch:before { content: '\231a'; }
.emoji-alarm-clock:before { content: '\23f0'; }
.emoji-stopwatch:before { content: '\23f1'; }
.emoji-timer-clock:before { content: '\23f2'; }
.emoji-mantelpiece-clock:before { content: '\1f570'; }
.emoji-twelve-oclock:before { content: '\1f55b'; }
.emoji-twelve-thirty:before { content: '\1f567'; }
.emoji-one-oclock:before { content: '\1f550'; }
.emoji-one-thirty:before { content: '\1f55c'; }
.emoji-two-oclock:before { content: '\1f551'; }
.emoji-two-thirty:before { content: '\1f55d'; }
.emoji-three-oclock:before { content: '\1f552'; }
.emoji-three-thirty:before { content: '\1f55e'; }
.emoji-four-oclock:before { content: '\1f553'; }
.emoji-four-thirty:before { content: '\1f55f'; }
.emoji-five-oclock:before { content: '\1f554'; }
.emoji-five-thirty:before { content: '\1f560'; }
.emoji-six-oclock:before { content: '\1f555'; }
.emoji-six-thirty:before { content: '\1f561'; }
.emoji-seven-oclock:before { content: '\1f556'; }
.emoji-seven-thirty:before { content: '\1f562'; }
.emoji-eight-oclock:before { content: '\1f557'; }
.emoji-eight-thirty:before { content: '\1f563'; }
.emoji-nine-oclock:before { content: '\1f558'; }
.emoji-nine-thirty:before { content: '\1f564'; }
.emoji-ten-oclock:before { content: '\1f559'; }
.emoji-ten-thirty:before { content: '\1f565'; }
.emoji-eleven-oclock:before { content: '\1f55a'; }
.emoji-eleven-thirty:before { content: '\1f566'; }
