.emoji-anchor:before { content: '\2693'; }
.emoji-sailboat:before { content: '\26f5'; }
.emoji-canoe:before { content: '\1f6f6'; }
.emoji-speedboat:before { content: '\1f6a4'; }
.emoji-passenger-ship:before { content: '\1f6f3'; }
.emoji-ferry:before { content: '\26f4'; }
.emoji-motor-boat:before { content: '\1f6e5'; }
.emoji-ship:before { content: '\1f6a2'; }
