.emoji-locomotive:before { content: '\1f682'; }
.emoji-railway-car:before { content: '\1f683'; }
.emoji-high-speed-train:before { content: '\1f684'; }
.emoji-high-speed-train-with-bullet-nose:before { content: '\1f685'; }
.emoji-train:before { content: '\1f686'; }
.emoji-metro:before { content: '\1f687'; }
.emoji-light-rail:before { content: '\1f688'; }
.emoji-station:before { content: '\1f689'; }
.emoji-tram:before { content: '\1f68a'; }
.emoji-monorail:before { content: '\1f69d'; }
.emoji-mountain-railway:before { content: '\1f69e'; }
.emoji-tram-car:before { content: '\1f68b'; }
.emoji-bus:before { content: '\1f68c'; }
.emoji-oncoming-bus:before { content: '\1f68d'; }
.emoji-trolleybus:before { content: '\1f68e'; }
.emoji-minibus:before { content: '\1f690'; }
.emoji-ambulance:before { content: '\1f691'; }
.emoji-fire-engine:before { content: '\1f692'; }
.emoji-police-car:before { content: '\1f693'; }
.emoji-oncoming-police-car:before { content: '\1f694'; }
.emoji-taxi:before { content: '\1f695'; }
.emoji-oncoming-taxi:before { content: '\1f696'; }
.emoji-automobile:before { content: '\1f697'; }
.emoji-oncoming-automobile:before { content: '\1f698'; }
.emoji-sport-utility-vehicle:before { content: '\1f699'; }
.emoji-delivery-truck:before { content: '\1f69a'; }
.emoji-articulated-lorry:before { content: '\1f69b'; }
.emoji-tractor:before { content: '\1f69c'; }
.emoji-bicycle:before { content: '\1f6b2'; }
.emoji-kick-scooter:before { content: '\1f6f4'; }
.emoji-motor-scooter:before { content: '\1f6f5'; }
.emoji-bus-stop:before { content: '\1f68f'; }
.emoji-motorway:before { content: '\1f6e3'; }
.emoji-railway-track:before { content: '\1f6e4'; }
.emoji-fuel-pump:before { content: '\26fd'; }
.emoji-police-car-light:before { content: '\1f6a8'; }
.emoji-horizontal-traffic-light:before { content: '\1f6a5'; }
.emoji-vertical-traffic-light:before { content: '\1f6a6'; }
.emoji-construction:before { content: '\1f6a7'; }
.emoji-stop-sign:before { content: '\1f6d1'; }
