.emoji-airplane:before { content: '\2708'; }
.emoji-small-airplane:before { content: '\1f6e9'; }
.emoji-airplane-departure:before { content: '\1f6eb'; }
.emoji-airplane-arrival:before { content: '\1f6ec'; }
.emoji-seat:before { content: '\1f4ba'; }
.emoji-helicopter:before { content: '\1f681'; }
.emoji-suspension-railway:before { content: '\1f69f'; }
.emoji-mountain-cableway:before { content: '\1f6a0'; }
.emoji-aerial-tramway:before { content: '\1f6a1'; }
.emoji-rocket:before { content: '\1f680'; }
.emoji-satellite:before { content: '\1f6f0'; }
